/*********************************************************/
/*********************************************************/
/************************ FONT-FACE **********************/
/*********************************************************/
/*********************************************************/

@font-face
  font-family: system
  font-style: normal
  font-weight: 300
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma")

@import url('https://fonts.googleapis.com/css?family=Kanit|Raleway|Titillium+Web:400,700,900')

/*********************************************************/
/*********************************************************/
/*********************************************************/
/*********************** KEYFRAMES ***********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

@keyframes fade-in-left
  from
    opacity: 0
    transform: translateX(15px)
  to
    opacity: 1
    transform: translateX(0)

@keyframes fade-in-top 
  from
    opacity: 0
    transform: translateY(15px)
  to
    opacity: 1
    transform: translateY(0)

@keyframes fade-in-bottom
  from
    opacity: 0
    transform: translateY(-15px)
  to
    opacity: 1
    transform: translateY(0)

@keyframes fade-out-top 
  from
    opacity: 1
    transform: translateY(0)
  to
    opacity: 0
    transform: translateY(15px)

/*********************************************************/
/*********************** KEYFRAMES ***********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/
/*********************** VARIABLES ***********************/
/*********************************************************/

$ivory: #ECE8DD
$ivory-dark: #D7D0C8
$crimson: #E85A4F
$gradient: linear-gradient(to right, #fff, #fff)
$box-shadow-very-low: 0 8px 30px rgba(50,50,93,.1),0 2px 10px rgba(0,0,0,.07)
$box-shadow-low: 0 10px 30px rgba(50,50,93,.1), 0 4px 15px rgba(0,0,0,.07)
$box-shadow-high: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07)

/*********************************************************/
/*********************************************************/
/*********************** VARIABLES ***********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/
/********************** MAIN STYLES **********************/
/*********************************************************/
/*********************************************************/

html, body, #root
  height: 100%
  margin: 0
  padding: 0
  width: 100%

*
  font-family: system, sans-serif

input,
button 
  outline: none

input
  color: #fff

*::-webkit-input-placeholder
  color: #fff

a
  &:hover
    text-decoration: none

button
  background: #BBB
  border: 1px solid #888
  color: #000
  cursor: pointer
  text-decoration: none
  transition: 100ms
  &:hover
    background: #AAA
    border: 1px solid #777

body
  background: #EEE
  display: flex

a
  color: #FFFFFF

ul
  list-style: none
  padding: 0

li
  padding: 0px 5px

h4
  background: #DDD
  font-size: 16px
  font-weight: bold
  margin: 0
  padding: 15px 10px
  text-align: center

.hide
  display: none

.App
  display: flex
  flex-direction: column
  height: 100%
  text-align: center

.container
  background: #FFF
  box-shadow: $box-shadow-very-low
  display: grid
  grid-template-areas: "sidebar" "header" "main" "footer"
  grid-template-columns: auto
  grid-template-rows: 50px auto auto auto
  margin: 0 auto
  max-width: 1440px

.sidebar
  background: #222
  color: #FFF
  grid-area: sidebar
  height: 100%
  left: 0
  top: 0

.sidebar-inner
  p
    align-items: center
    color: #E94949
    display: flex
    font-weight: bold
    justify-content: space-between
    padding: 0 10px
  ul
    color: #FFF
  li
    border-bottom: 1px solid #666
    margin: 0
    padding: 0

.sidebar-content
  display: none

.sidebar-body
  margin: 0 5px

.leader-list
  margin: 0 0 0 5px

.sidebar-header
  align-content: center
  align-items: center
  background: #E94949
  color: #FFF
  display: flex
  font-family: 'Titillium Web', serif
  font-size: 28px
  font-weight: 700
  height: 50px
  justify-content: center
  letter-spacing: -1.5px
  text-decoration: none
  text-transform: uppercase

.sidebar-topics
  ul
    list-style: none
    padding: 0 0 15px 10px
    li
      border: none
      color: #CCC
      margin-bottom: 3px
  .sidebar-date
    justify-content: center

.sidebar-full
  color: #CCC
  font-size: 10px

.sidebar-body
  height: 100%
  li
    margin: 5px 0
  a
    &:hover
      color: #E94949
      text-decoration: underline

.sidebar-button
  background: #333333
  color: #DDD
  font-size: 14px
  margin: 15px auto
  padding: 8px
  width: 66%
  &:hover
    background: #777

// END Sidebar

.globeIcon
  height: 24px
  width: 24px

.top-logo 
  height: 30px
  width: 30px

.App-logo
  height: 30px
  padding: 10px 5px
  transition-delay: 0.2s
  transition: .2s

.header
  color: #FFF
  grid-area: header
  overflow: hidden
  width: 100%

.App-header
  background: #DDD
  color: #ffa14e
  display: flex
  flex-direction: column
  height: 50px
  min-height: 33px
  overflow: hidden
  width: 100%
  a
    color: #000
  .copy
    border: 1px solid #333
    border-bottom: 0
    box-sizing: border-box
    color: #000000
    display: flex
    flex-direction: column
    font-size: 13px
    height: 50px // Works with 2px padding
    justify-content: center
    margin: 0 auto
    min-width: 140px
    padding: 0
    width: 100%
    span
      font-size: 10px
      margin: 0 auto
      max-width: 136px
  .logo-wrap
    align-items: center
    background-color: #DDD
    display: flex
    flex-shrink: 0
    height: 100%
    justify-content: space-between
    line-height: 48px
    padding: 0 0 0 0
    transition: .15s
    .navbar
      display: flex
      align-items: stretch
      flex-grow: 1
      justify-content: space-between
  .nav-wrap
    background: #333
    height: 50px
    margin-right: 55px
    overflow: hidden
    position: absolute
    right: 0px
    top: 0
    width: 100%
    z-index: 88
    .inner-header
      display: flex
      margin: 0 auto
      max-width: 761px
      .nav-links
        cursor: pointer
        background: #BBB
        border-left: 1px solid #333333
        ul
          display: flex
          width: 190px
          .nav-links-active
            background: #A9A69E
            a
              &:hover
                background: #98958e
          li
            background: #D4D0C6
            border-bottom: 1px solid #333
            justify-content: left
            min-width: 190px
            a
              color: #000
              height: 22px
              justify-content: center
              width: 100%
              &:hover
                background: #aaa
            &:first-child
              background: #D4D0C6
              border-bottom: 1px solid #333
              border-top: 1px solid #333
              cursor: default
              height: 51px
              a 
                height: 100%
                &:hover
                  background: #A9A69E
            &:nth-child(2)
              height: 34px
              a
                height: 100%
  ul
    display: flex
    flex-wrap: wrap
    justify-content: left
    list-style: none
    margin: 0
    padding: 0
    li
      align-items: center
      background: $ivory-dark
      box-sizing: border-box
      display: flex
      justify-content: center
      text-decoration: none
      a
        align-items: center
        display: flex
        font-size: 13px
        justify-content: left
        text-decoration: none
        padding: 0
        img
          border-top: 1px solid #333
          box-sizing: border-box
          max-height: 50px
          min-width: 50px
          width: 50px
        &:hover
          background: #A9A69E
  &:hover
    transition: .1s
    transition-delay: .2s
    .copy
      transition: 0.2s
    li .sidelink-text
      transition-delay: .25s

.navbar-group
  display: flex
  flex-wrap: nowrap

.navbar-group-left
  flex-grow: 0

.navbar-group-right
  flex-grow: 1
  justify-content: flex-end

.navbar-search-hidden
  padding: 0!important
  width: 0!important
  visibility: hidden


.navbar-search
  background: #444
  border: 0
  color: #FFF
  font-size: 15px
  outline: none
  padding: 0 15px
  text-transform: uppercase
  transition: 400ms ease
  width: 100%
  &::placeholder
    color: #999

.img-size
  border: 0
  box-sizing: content-box
  height: 15px
  padding: 3px 0
  width: 15px

.active,
.App-header .active
  background: #a9a69e

.App-header .active:hover
  background: #98958e

.fade-in-bottom
  animation: fade-in-bottom ease 0.4s forwards

.fade-in-top
  animation: fade-in-top ease 0.4s forwards

.fade-in-right
  animation: fade-in-right ease 0.4s forwards

.international-news
  animation-delay: 0s
  max-height: 212px
  overflow: hidden
  img
    display: block
    min-height: 100%
    max-width: 900px
    width: 100%

.show
  opacity: 1
  transition: 100ms
  max-height: 551px

.hidden
  opacity: 0
  transition: 100ms
  pointer-events: none

.none
  display: none

.fadeIn
  display: block
  background: #0f0

.sidelink-text
  visibility: hidden
  display: none
  transition: .5s

.leader-list
  border-top: 1px solid #E94949
  margin: 0
  list-style: none
  padding: 0

  .copy
    display: flex
    flex-direction: column
    font-size: 12px
    justify-content: center
    transition: 200ms
    padding: 0 0 0 10px
    position: relative

  a
    align-items: center
    color: #FFF
    display: flex
    position: relative
    transition: 300ms
    font-weight: 600
    text-decoration: none
    img
      min-width: 50px
    span
      font-size: 11px
      font-weight: 400
    &:hover
      background: #333
      .copy
        padding: 0 0 0 15px

.sidebar-open
  display: none

.leader-list
  .navlink-active
    background: #373737
    &:hover
      background: #3F3F3F
    .copy
      width: 100%
      justify-content: flex-end
      padding: 0 0 0 10px

.nav-sidenav
  display: flex
  flex-direction: column
  transition: 0s
  .leader-list
    display: none
  .page-show
    display: block
  li
    a
      img
        height: 50px
  div
    width: 100%
    ul
      li
        &:nth-child(3n)
          a
            .copy
              border-right: 0

.button-menu
  background: #DDD
  border: 0
  border-radius: 0
  box-sizing: border-box
  color: #666
  cursor: pointer
  display: flex
  font-size: 12px
  height: 50px
  justify-content: center
  min-width: 50px
  padding: 0
  transition: 150ms
  width: auto
  &:hover
    border: 0
  a
    align-items: center
    color: #666
    display: flex
    flex-direction: column
    text-decoration: none
  .open-menu
    box-sizing: border-box
    padding: 0
    transition: 150ms
    width: 18px
  .search-menu
    align-items: center
    display: flex
    flex-direction: column

.icon-search
  stroke: #FF0000

.App-intro
  background: #FFFFFF
  flex: 1
  height: 100%
  transition: 0.2s /* Must match App-header */
  overflow-y: auto
  position: relative
  transition-delay: 0.4s /* Must match App-header */
 
.top-nav
  color: #333
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0 auto
  width: 100%
  .active
    background: rgba(0,0,0,1)
    color: #fff
  a
    background: #DDD
    border-left: 1px solid #DDD
    color: #000
    display: block
    margin: 0
    text-decoration: none
    text-transform: uppercase
    min-width: 30px
    width: 100%
    &:first-child
      border: 0
    &:hover
      background: rgba(0,0,0,.1)
  .active:hover
    background: #000
    color: #ffa500

.top-nav-leader
  display: flex
  justify-content: space-between

.top-icon
  height: 60px
  text-align: left
  width: 60px

.top-leader
  animation: fade-in-bottom ease 0.4s forwards
  animation-delay: 0.4s
  opacity: 0
  height: 60px
  max-height: 60px

.banner-text
  color: #000
  font-size: 16px
  line-height: 40px
  margin: 0
  align-text: center

.top-flag
  background: #fff
  height: 60px
  position: relative
  img
    animation-delay: .8s
    opacity: 0
    border-left: 1px solid #DDD
    box-sizing: border-box
    float: right
    height: 100%
    max-width: 120px

.top-title
  animation: fade-in-bottom ease 0.4s forwards
  animation-delay: 0.4s
  align-items: center
  background: #FBFBFB
  border-bottom: 1px solid #EEE
  box-sizing: border-box
  cursor: default
  justify-content: center
  display: flex
  transform: scaleX(0)
  transform-origin: left
  font-family: 'Arial', 'Helvetica', sans-serif  
  font-size: 15px
  width: 100%
  height: 100%
  padding: 4px
  margin: 0
  text-align: center
  position: relative
  text-transform: uppercase
  white-space: nowrap

.top-content
  background: #fff
  padding: 0
  position: relative
  width: 100%

.top-banner
  align-items: center
  background: #fff
  display: flex
  flex-direction: row
  flex-grow: 1

.inner-featured
  max-width: 900px
  margin: 0 auto
  width: 100%

.inner-ad
  display: flex
  align-items: center
  justify-content: center
  background: #EEE
  height: 100px
  margin: 10px auto 0
  width: 100%

.featured
  display: flex
  flex-direction: column

.featured-layout
  animation: fade-in-top .3s ease forwards
  animation-delay: .8s
  background: #EEE
  display: flex
  flex-direction: column
  box-sizing: border-box
  margin: 0 auto
  padding: 10px
  opacity: 0
  width: 100%

.featured-details
  background: #D3D3D3
  box-sizing: border-box
  display: flex
  flex-direction: column
  flex-grow: 1
  font-weight: 700
  flex-wrap: no-wrap
  justify-content: space-between
  padding: 10px

.featured-details-items
  align-items: center
  background: #CCC
  display: flex
  flex-direction: column
  span
    align-self: center
    display: flex
    flex-direction: column
    justify-content: space-between
    font-size: 14px
    font-weight: 700
    height: 100%
    margin: 0 5px
    max-width: 100px
    text-align: center
    width: 100%
    a
      color: #000
      font-size: 12px
      padding: 5px 0

.featured-icons
  background: #DDD
  display: flex
  flex-direction: row
  flex: 1
  justify-content: space-around
  span
    align-items: center
    display: flex
    flex-direction: column
    font-size: 14px
    justify-content: center
    padding: 9px 0
    text-align: center
    width: 100%
    &:first-child
      background: #BBB

.featured-flag
  max-height: 40px

.featured-leader
  max-height: 110px

.featured-news
  background: #E9E9E9
  ul
    align-items: center
    display: flex
    flex-wrap: wrap
    list-style: none
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    margin: 0
    height: auto
    padding: 10px 5px
    li
      background: #DfDfDf
      display: flex
      margin: 0 5px
      flex: 1
      justify-content: center
      min-width: 200px
      max-width: 430px
      padding: 0
      a
        align-items: center
        color: #333
        cursor: pointer
        display: flex
        flex-direction: column
        font-size: 12px
        text-align: center
        justify-content: space-between
        text-decoration: none
        margin: 10px
        position: relative
        min-width: 30px
        &:hover
          span
            padding: 15px 5px
        img
          height: 100%
          width: 100%
    span
      display: block
      transition: 100ms
      width: 100%

.featured-article-title
  background: rgba(45,45,45,.85)
  bottom: 0
  box-sizing: border-box
  color: #DDD
  cursor: pointer
  font-weight: 700
  min-height: 24px
  padding: 7px
  position: absolute

.featured-page-link
  text-align: right
  a
    color: #000
    font-size: 12px
    padding: 0 5px
    &:hover
      color: #CC0000
      text-decoration: underline

.featured-link
  border: 1px solid #AAA
  background: $ivory-dark
  display: flex
  align-self: flex-end
  margin: 10px auto
  padding: 6px 15px
  transition: 100ms
  text-align: center
  max-width: 90px
  a
    color: #000
    display: flex
    align-items: center
    font-size: 12px
    padding: 0 10px
    text-decoration: none
    text-align: center
  &:hover
    background: #BBB

.contentBox
  align-items: center
  display: flex
  flex-direction: column

.content-box-links
  animation-delay: 0.6s
  opacity: 0
  align-items: center
  background: #fff
  display: flex
  flex-grow: 1
  flex-wrap: nowrap
  font-family: sans-serif
  font-size: 12px
  justify-content: space-between
  line-height: 60px
  text-align: center
  overflow-x: auto
  a
    background: #EAEAEA
    &:hover
      background: #E1E1E1

.content
  align-items: center
  background: #fff
  display: flex
  flex-direction: column
  width: 100%

.inner-content
  margin: 0 auto

.img-highlight
  align-items: center
  display: flex
  flex-direction: column
  margin-right: 0
  width: 100%
  .img-highlight-leader
    width: 100%
    position: relative
    text-align: center
    .img-highlight-image
      position: relative
      z-index: 1
      height: 279px
      max-width: 196px
    &::after
      background: #eee
      display: block
      height: 25%
      width: 100%
      content: ""
      position: absolute
      top: 75%
  .img-highlight-text
    background: #eee
    text-align: center
    width: 100%
    p
      color: #000
      font-family: 'Kanit', sans-serif      
      font-size: 16px
      font-weight: bold
      line-height: .66em

.home
  display: flex
  flex-direction: column
  grid-area: main

.home-hero
  margin: 0 auto
  max-width: 900px
  width: 100%
  text-align: center
  position: relative
  .home-overlay
    background-color: rgba(34,34,34,0.85)
    bottom: 0
    box-sizing: border-box
    color: #DDD
    font-size: 18px
    font-weight: 700
    padding: 20px 15px
    position: absolute
    transition: 100ms
    width: 100%
    cursor: pointer
  &:hover
    .home-overlay
      padding: 30px 15px

.home-hero-link
  display: block

.home-hero-img
  display: flex
  max-width: 100%
  

.inner-home
  background: #F8F8F8
  box-sizing: border-box
  margin: 15px auto 0
  padding: 15px 15px
  width: 100%
  max-width: 900px
  h1
    font-family: 'Raleway', sans-serif

.home-image
  opacity: .7
  margin: -30px auto 0
  max-width: 160px

.inner-election
  margin: 0 auto
  max-width: 900px
  width: 100%

.summits
  background: #EEE
  margin: 10px auto 0
  max-width: 900px
  overflow: hidden
  .item-header
    margin: 0 auto

.summits-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  margin: 10px auto
  padding: 0 5px
  li
    display: flex
    font-size: 12px
    padding: 0 5px
    text-align: right
    img
      width: 212.5px
      max-height: 106px
    a
      color: #000
      display: flex
      flex-direction: column
      span
        margin-bottom: 5px
        padding: 0 2px
      &:hover
        color: #C00
        text-decoration: underline

.inner-map 
  background: #EEE
  width: 100%
  max-width: 900px
  margin: 0 auto 15px

.inner-leader-map
  height: 100%

.map
  display: flex
  flex-direction: column

.inner-home-map
  background: #EEE
  border: none
  display: flex
  flex-grow: 2
  justify-content: flex-end
  margin: 10px
  iframe
    width: 100%

.inner-map-list
  background: #DDD
  flex-grow: 1
  margin: 10px 10px 0
  padding: 10px
  h3
    margin: 0 0 10px
  ul
    border: 1px solid #AAA
    margin: 0
  li
    background: $ivory-dark
    padding: 10px
    &:nth-child(odd)
      background: $ivory

.item-header
  background: #222
  color: #E94949
  display: flex
  font-size: 15px
  font-weight: 900
  justify-content: center
  margin: 10px auto 0
  padding: 10px 0px
  text-transform: uppercase

.grid-item
  background: #EEE
  box-sizing: border-box
  display: flex
  height: 140px
  margin: 5px
  padding: 10px
  width: 140px
  a
    display: block
    position: relative
    text-decoration: none


.grid-list
  max-width: 750px
  margin: 0 auto

.grid-list-ul
  display: flex
  flex-wrap: wrap
  justify-content: center
  list-style: none
  margin: 10px auto
  padding: 0

.grid-image
  width: 100%
  &:hover + .grid-copy
    background: rgba(34,34,34,.8)
    color: #FFF
    margin-top: -53px
    padding: 5px 0

.grid-copy
  background: rgba(51,51,51,.5)
  bottom: 0
  color: #EEE
  font-size: 12px
  min-width: 120px
  padding: 2px 0
  position: absolute
  text-align: center
  transition: .1s
  
  &:hover
    background: rgba(34,34,34,.8)
    color: #FFF
    margin-top: -53px
    padding: 5px 0
  span
    display: block
    width: 100%


.grid-sort
  background: #EEE
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0 auto
  max-width: 740px
  span
    align-items: center
    background-color: #EEE
    color: #000
    font-family: sans-serif
    font-weight: 700
    display: flex
    justify-content: center
    padding: 16px 0
    width: 100%
  ul
    display: flex
    flex-direction: row
    list-style: none
    margin: 0
    padding: 0
    width: 100%
    li
      align-items: center
      background: $ivory
      border-left: 1px solid #DDD
      color: #000
      cursor: pointer
      display: flex
      flex: 1
      font-size: 13px
      font-weight: bold
      height: 50px
      &:hover
        background: #EEE
      a
        align-items: center
        color: #000
        display: flex
        flex-direction: row
        font-size: 11px
        justify-content: center
        text-align: center
        text-decoration: none
        width: 100%
        .img-size
          padding-right: 7px


.inner-rank
  animation: fade-in-top 0.4s ease forwards
  animation-delay: 0.6s
  background: $ivory
  max-width: 800px
  margin: 0 auto 15px
  opacity: 0
  width: 100%

.rank
  margin-top: 15px

.rank-item
  display: flex
  padding: 0 15px
  margin: 0 auto 15px
  .rank-item-image
    max-height: 93px
    margin-right: 10px
    transition: .1s
    img
      height: 93px
      width: 60px
  .rank-item-data
    display: flex
    flex-grow: 1
    flex-direction: column
    .rank-head-name
      align-items: flex-end
      display: flex
      font-size: 14px
      justify-content: space-between
      flex-grow: 1
      span
        font-size: 12px
        justify-content: center
    .rank-link
      position: relative
      margin: 0 5px
      .rank-image
        height: 132px
        width: 220px
        padding-bottom: 15px
      .rank-headline
        background: #ffffff
        box-shadow: $box-shadow-very-low
        box-sizing: border-box
        display: block
        font-size: 14px
        font-weight: 900
        left: 20px
        line-height: 13px
        max-width: 180px
        min-height: 56px
        max-height: 80px
        overflow: hidden
        padding: 10px
        position: absolute
        bottom: 5px
      &:hover .rank-headline
        box-shadow: $box-shadow-low
        transform: translateY(-2px)
      &:active .rank-headline
        box-shadow: $box-shadow-very-low
        transform: translateY(0)
    .rank-item-head
      background: $ivory-dark
      display: flex
      justify-content: space-between
      padding: 5px 10px

    .rank-item-articles
      box-sizing: border-box
      flex-grow: 1
      padding: 10px 5px
      text-align: left
      width: 100%
      a
        color: #333

.inner-week
  background: $ivory
  width: 100%
  max-width: 800px
  margin: 0 auto
  .week
    animation: fade-in-top .3s ease forwards
    animation-delay: 0.5s
    display: flex
    flex-wrap: wrap
    opacity: 0
    margin: 15px auto 0
    max-width: 800px
    padding: 0 15px
    .week-box
      align-items: center
      box-sizing: border-box
      display: flex
      height: 88px
      flex-direction: column
      overflow: hidden
      margin: 0px auto 15px
      max-width: 384px
      position: relative
      width: 100%
      .week-title
        border: 1px solid #D4D0C6
        display: flex
        flex-direction: column
        height: 88px
        justify-content: space-between
        overflow: hidden
        width: 100%
        .week-day
          align-items: center
          background: #D4D0C6
          color: #000
          display: flex
          height: 36px
          min-height: 36px
          padding: 0 5px
          justify-content: center
      .week-details
        background: $ivory
        display: flex
        flex-grow: 1
        align-items: flex-end
        width: 100%
        cursor: pointer
        overflow: hidden
        a
          align-items: flex-end
          cursor: default
          display: flex
          height: 100%
          text-decoration: none
          width: 100%
          img
            height: 88px
            width: 128px
            margin-right: 5px
            min-width: 128px
          .week-content
            background: #f3f3f3
            font-size: 14px
            text-align: left
            color: #000
            flex-grow: 1
            padding: 0 5px

.inner-datasheets
  width: auto
  display: flex
  justify-content: space-between
  padding: 20px 0
  tbody
    margin: 0 auto
  td
    border: 1px solid #000
    padding: 10px 5px

.inner-polls
  height: auto
  padding: 0px 0

.twitter-inner
  animation: fade-in-top ease 0.4s forwards
  animation-delay: 0.6s
  background: #f6f6f6
  max-width: 900px
  margin: 0 auto 25px
  opacity: 0
  padding: 5px 0 0
  iframe
    margin: 0 auto

.timeline
  width: 500px

.schedule
  background: #F6F6F6
  display: flex
  margin: 10px auto
  justify-content: space-between
  .schedule-div
    margin: 10px 10px 0
    width: 100%
  .inner-schedule
    display: flex
    flex-direction: column
    height: auto
    justify-content: center
    .scheduleBox
      display: flex
      flex-direction: row
      flex-wrap: wrap
      height: 100%
      ul
        margin: 0
        list-style: none
        padding: 0
        width: 100%
        .dayBox
          display: flex
          flex-direction: row
          align-items: center
          padding: 0 0 10px
          .dateBox
            background: #FFF
            align-items: center
            align-self: flex-start
            justify-content: center
            flex-direction: column
            display: flex
            height: 60px
            width: 60px
            min-width: 60px
            font-size: 18px
            font-weight: 200
            margin-right: 10px
            .monthBox
              font-size: 12px
              margin-bottom: 4px
              min-width: 40px
              text-align: center
          .eventBox
            background: #FFF
            font-size: 13px
            flex-direction: column
            flex-grow: 1
            justify-content: space-between
            display: flex
            align-items: center
            overflow: hidden
            p
              padding: 10px
              overflow: hidden
              box-sizing: border-box
              margin: 0
              width: 100%
              display: flex
              flex-grow: 1
              display: block
              text-overflow: ellipsis
              text-align: left
            span
              background: #EAEAEA
              box-sizing: border-box
              display: flex
              justify-content: flex-end
              width: 100%
              padding: 3px
  .mapsBox
    display: flex
    flex-direction: column
    .inner-maps
      margin: 0 auto
      width: 66%
      position: relative

.top-split
  display: flex
  animation-delay: 1s
  opacity: 0

.datasheets-inner
  background: #f6f6f6
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0 auto
  padding: 10px
  width: 100%

.data-container
  display: flex
  flex: 1
  flex-direction: column
  align-items: center
  flex-wrap: wrap
  font-size: 14px
  margin: 0px 0 0 5px
  a
    color: #000000
    align-self: flex-end
    font-size: 12px
    margin-bottom: 2px

  .data-point
    background: #FAFAFA
    box-sizing: border-box
    display: flex
    justify-content: space-between
    padding: 9px 10px
    width: 100%
    max-width: 440px
    &:nth-child(even)
      background: #EEEEEE
    span
      color: #222
      a
        color: #222

.data-country
  border: 1px solid #000
  flex-grow: 1
  font-size: 18px
  font-weight: 400
  background: #eee
  padding: 10px
  width: 800px

.data-info
  border: 1px solid #ddd
  margin: 5px
  flex-grow: 1

.data-image
  display: flex
  flex: 1
  justify-content: center
  margin: 0 5px 0 0

.data-pic
  width: 200px
  box-sizing: border-box

.listItems
  li:nth-child(-n+3)
    display: none
  li
    padding: 0

.biography
  background: #f6f6f6
  margin-bottom: 10px
  text-align: left
  width: 100%
  .biography-text
    min-height: 50px
    padding: 50px
    p
      margin: 0

.maps
  border: 0
  min-height: 496px
  transition: 100ms
  width: 50%

.leadermap
  animation: fade-in-top ease 0.4s forwards
  animation-delay: 1.2s
  border: 0
  max-width: 800px
  height: 100%
  transition: .1s
  opacity: 0
  width: 100%

#overlay
  width: 100%
  height: 100%
  background: rgba(224,224,224,.6)
  position: absolute
  transition: .25s

.more
  color: #000

.news
  background: #f6f6f6
  display: flex
  flex-direction: column
  margin-top: 10px
  width: 100%

.inner-news
  justify-content: space-around
  display: flex
  flex-wrap: wrap
  flex-direction: row
  margin: 0 auto
  padding: 10px
  overflow: hidden
  transition: .3s
  h4
    align-self: center
    margin: 0 auto
  .more-loaded
    display: none

.news-box
  background: #DDD
  margin: 0
  max-width: 420px
  padding: 10px
  width: 100%
  &:first-child
    margin-bottom: 10px

.news-open
  cursor: pointer
  margin: 0 auto 10px
  max-width: 150px
  padding: 10px 0
  text-transform: uppercase
  transition: .1s
  width: 40%

.news-flow
  align-items: center
  background: #E9E9E9
  display: flex
  margin-bottom: 10px
  padding: 0
  div
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-between
    padding-left: 10px
    .flow-title
      display: flex
      flex-direction: column
      font-weight: bold
      height: 35px
      justify-content: center
    .details
      background: #D9D9D9
      display: flex
      font-size: 12px
      margin-left: -10px
      padding-left: 10px

.flow-link
  color: #000
  &:hover
    color: #E94949

.contact
  background: #FFF
  height: 100%
  padding: 0px 40px
  .contact-details
    background: #EEE
    margin: 40px auto
    padding: 100px 0
    text-align: center
    a
      color: #666

.twitter-inner
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center

/* Election Calendar

.election-cal
  background: #EEE
  display: flex
  flex-direction: column
  padding: 10px
  .election-cal-years
    border: 1px solid #AAA
    box-sizing: border-box
    display: flex
    margin: 0 auto
    a
      background: $ivory-dark
      border-right: 1px solid #AAA
      color: #000
      cursor: pointer
      font-family: 'Arial', sans-serif
      font-weight: 600
      font-size: 14px
      padding: 9px 12px
      text-decoration: none
      &:hover
        text-decoration: underline
      &:last-child
        border-right: 0

.election-cal-container
  display: flex

.election-item
  width: 100%
  margin: 0

.election-cal-list
  box-sizing: border-box
  cursor: default
  display: flex
  flex: 1
  flex-direction: column
  list-style: none
  margin: 0 0 0 5px
  &:first-child
    margin-right: 5px
    margin-left: 0
  li
    background: $ivory
    display: flex
    font-size: 16px
    justify-content: space-between
    padding: 8px
    &:nth-child(even)
      background: $ivory-dark
  
.election-cal-date
  color: #555

.election-cal-loadlist
  align-self: center
  margin: 10px 5px
  padding: 5px
  text-align: center
  width: 100px

/*/

.footer
  align-items: center
  background: #2c2c2c
  border-left: 0
  box-sizing: border-box
  color: $ivory
  display: flex
  flex-direction: column
  grid-area: footer
  justify-content: flex-end
  min-height: 220px
  width: 100%
  a
    color: $ivory
    font-size: 12px
    margin: 1px 10px 0 0
    padding: 5px 0
    text-align: left
    text-decoration: none
    transition: .25s
    &:hover
      border-radius: 5px
      color: $ivory-dark
  h3
    color: #E94949
    font-family: arial, sans-serif
    margin: 5px 0
    padding: 0
    cursor: default
    text-transform: uppercase
    text-align: left
    font-size: 12px

.footer-links
  display: flex
  flex-grow: 1

.inner-footer
  display: flex
  width: 100%
  max-width: 900px
  justify-content: space-between
  flex-direction: column

.input-email
  background: #333
  border: 1px solid $ivory-dark
  border-radius: 2px
  color: $ivory
  font-size: 14px
  padding: 5px
  transition: 150ms
  &::placeholder
    color: $ivory
  &:focus
    background: $ivory-dark
    color: #000
    &::placeholder
      color: #000

.button-submit
  background: $ivory-dark
  border: 1px solid $ivory-dark
  border-radius: 2px
  color: #000000
  cursor: pointer
  font-size: 14px
  margin: 5px
  margin-right: 0
  padding: 5px
  transition: .15s
  &:hover
    background: #999
    border: 1px solid #999
  &:active
    background: $ivory-dark
    border: 1px solid $ivory-dark
    transition: 0s

.news
  h1
    font-size: 24px
    margin: 1.5em 0

.news-story
  box-sizing: border-box
  display: flex
  flex-direction: column
  height: 100%
  max-height: 280px
  overflow: hidden
  position: relative
  &:hover
    flex-grow: 2
    .news-info-container
      flex: 1
    .news-text-container
      display: flex

.news-img-container
  background: #DDD
  display: flex
  flex: 1
  flex-direction: column
  overflow: hidden
  width: 100%
  
.news-info-container  
  flex: 0
  flex-direction: column
  font-size: 15px
  max-height: 280px
  width: 100%

.news-text-container
  display: none
  flex: 0
  flex-direction: column-reverse

.news-micro
  display: flex
  flex-wrap: wrap
  padding: 10px
  margin: 0

.news-box-micro
  max-width: 205px
  padding: 10px 6.66px 10px
  &:nth-child(4n + 1)
    padding-left: 10px
  &:nth-child(4n)
    padding-right: 10px
  &:last-child
    padding-right: 10px

.article
  font-size: 13px
  overflow: hidden
  max-height: 80px
  text-align: left
  color: #000
  width: 100%
  &:hover
    .article-image
      z-index: 1

.article-image
  max-height: 280px
  max-width: 420px
  width: 100%

.article-link
  display: grid

.article-link-headline
  align-items: center
  background: #666
  box-sizing: border-box
  display: flex
  justify-content: center
  font-size: 13px
  height: auto
  padding: 7px 10px
  text-decoration: none
  width: 100%

.article-link-go
  align-items: center
  background: #333
  border: 1px solid #333
  box-sizing: border-box
  color: #fff
  display: flex
  height: auto
  margin: 0 5px
  padding: 5px 10px
  text-decoration: none
  transition: .1s
  &:hover
    background: #fff
    color: #000
    text-decoration: underline

.headline
  color: #000
  font-family: 'Titiliium', sans-serif
  font-size: 14px
  font-weight: 500
  height: 20px
  text-transform: capitalize
  vertical-align: middle
  &:hover
    color: #666

.article-author-date
  background: #E8E8E8
  font-size: 11px
  padding: 10px
  display: flex
  justify-content: space-between

.article-text
  align-items: center
  background: #F0F0F0
  box-sizing: border-box
  display: flex
  justify-content: space-between
  min-height: 77px
  overflow: hidden
  padding: 10px

.time
  white-space: nowrap
  overflow: hidden

.country-detail
  display: flex
  flex-direction: column

.country-data
  background: #F6F6F6
  display: flex
  flex-direction: column

.country-map
  background: #C7D8EC
  display: flex
  flex-grow: 1
  align-items: center
  justify-content: center
  img
    height: auto
    max-height: 220px
    max-width: 300px
    padding: 10px

.country-entries
  li
    display: flex
    justify-content: space-between
    text-transform: capitalize

.country-list
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 10px
  ul
    background: #EEE
    display: flex
    flex-direction: column
    flex-grow: 1
    padding: 10px
    margin: 0
    list-style: none
    text-align: left
    li
      padding: 5px 10px
      &:nth-child(2n+1)
        background: #CCC
      &:nth-child(2n+2)
        background: #DDD
    &:nth-child(even)
      text-align: right
      li
        &:nth-child(2n+1)
          background: #CCC
        &:nth-child(2n+2)
          background: #DDD

.others
  align-items: center
  background: #F6F6F6
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0
  width: 100%
  img
    max-height: 46px
    width: auto
  div
    box-sizing: border-box
    display: flex
    cursor: pointer
    transition: .2s
    width: 100%
    &:first-child
      display: none
    &:hover
      background: #DDD
      img.othersArrow
        background: #BBB
        padding: 12px
        transition: .2s
        width: 50px
    span
      font-size: 12px
      color: #000
      text-transform: uppercase
      margin: 0 5px
      padding: 5px 10px
    a
      align-items: center
      background: #EEE
      display: flex
      justify-content: space-between
      flex-direction: row
      text-decoration: none
      padding: 0
      width: 100%
    &:last-child
      justify-content: flex-end

img.othersArrow
  align-self: center
  background: #CCC
  height: 22px
  margin: 0
  padding: 12px
  transition: 200ms
  width: 22px

.footer-column
  flex: 1
  flex-direction: column
  display: flex
  margin: 30px auto
  text-align: center
  h3
    padding: 0 10px
    text-align: auto
  a
    margin: 0 15px
    text-align: auto

.footer-middle
  h3
    text-align: right
  a
    text-align: right

.footer-last
  flex-grow: 2
  align-items: center
  font-size: 12px
  color: $ivory
  text-align: right
  margin: 0 auto 50px
  h3
    text-align: right
  p
    margin: 5px 0
    text-align: center

/*********************************************************/
/*********************************************************/
/*********************************************************/
/********************* START DESKTOP *********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

@media (min-width: 980px) 

  .container
    background: #FFF
    display: grid
    grid-template-areas: "sidebar header" "sidebar main" "sidebar footer"
    grid-template-columns: 200px auto
    grid-template-rows: auto
    margin: 0 auto
    max-width: 1200px

  .sidebar
    min-width: 200px

  .sidebar-content
    display: block

  .datasheets-inner
    flex-direction: row

  .data-container
    justify-content: flex-start

  .inner-content
    box-sizing: border-box
    height: auto
    margin: 50px auto
    max-width: 900px

  .grid-sort
    flex-direction: row
    margin: 50px auto 0
    ul
      flex-direction: row

  .news-box
    &:first-child
      margin-bottom: 0

  .news-box
    background: #DDD
    max-width: 415px
    margin: 0 0 0 5px
    padding: 10px
    width: 100%
    &:first-child
      margin: 0 5px 0 0

  .home-hero
    margin: 10px auto 0

  .featured
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

  .featured-layout
    flex-direction: row

  .featured-details
    flex-direction: column
    justify-content: flex-start
    min-width: 200px

  .featured-details-items
    flex-direction: row

  .featured-news
    ul
      flex-direction: row

  .country-list
    flex-direction: row
    ul
      &:first-child
        margin-right: 10px

  .others
    flex-direction: row
    div
      &:first-child
        display: block
        margin-right: 10px

  .summits-list
    flex-direction: row
