/************************ FONT-FACE **********************/
@import url('https://fonts.googleapis.com/css?family=Kanit|Raleway|Titillium+Web:400,700,900')

/*********************** VARIABLES ***********************/
$paragraph: #ECE8DD
$header: #D7D0C8
$primary-one: hsl(43, 89%, 70%) // YELLOW OCHRE
$primary-two: hsl(48, 94%, 68%)
$primary-three: hsl(44, 92%, 63%)
$neutral-one: hsl(40, 23%, 97%) // WARM GRAYS
$neutral-two: hsl(43, 13%, 90%)
$neutral-three: hsl(40, 15%, 80%)
$neutral-four: hsl(41, 8%, 61%)
$neutral-five: hsl(41, 8%, 48%)
$neutral-six: hsl(37, 11%, 28%)
$neutral-seven: hsl(42, 15%, 13%)
$highlight-one: hsl(83, 64%, 42%) // NO COLOR YET
$highlight-two: hsl(83, 70%, 34%)
$box-shadow-very-low: 0 8px 30px rgba(50,50,93,.1),0 2px 10px rgba(0,0,0,.07)

/********************* MOBILE STYLES *********************/

html, 
body,
#root
  height: 100%
  margin: 0
  padding: 0
  width: 100%

*
  box-sizing: border-box
  font-family: sans-serif

input
  color: #fff
  outline: none

*::-webkit-input-placeholder
  color: #fff

button
  background: #BBB
  border: 1px solid #888
  color: #000
  cursor: pointer
  outline: none
  text-decoration: none
  transition: 100ms
  &:hover
    background: #AAA
    border: 1px solid #777

body
  background: $neutral-two
  display: flex

ul
  list-style: none
  padding: 0

li
  padding: 0px 5px

a
  color: #FFF
  text-decoration: none
  &:hover
    text-decoration: none

.page-divider
  background: $neutral-two
  margin: 0
  padding: 30px 0

.container
  border-top: 3px solid $primary-two
  display: grid
  grid-template-areas: "header" "main" "footer"
  margin: 0 auto

.sidebar
  display: none
  color: #000
  grid-area: sidebar
  height: 100%
  margin-top: 30px

.sidebar-header
  align-content: center
  align-items: center
  background: #E94949
  color: #EEE
  display: flex
  font-family: 'Titillium Web', serif
  font-size: 28px
  font-weight: 700
  height: 50px
  justify-content: center
  letter-spacing: -1.5px
  text-decoration: none
  text-transform: uppercase

.sidebar-list
  margin: 0
  li
    padding: 0 10px
    a
      align-items: center
      color: #000
      display: flex
      font-size: 12px
      height: 30px
      padding: 0 15px
      &:hover
        border-radius: 5px
        text-decoration: underline
    a.active
      background: $neutral-three
      border-radius: 5px

.header
  align-items: center
  background: $neutral-one
  display: flex
  font-style: italic
  font-weight: 900
  grid-area: header
  height: 36px
  justify-content: space-between
  overflow: hidden
  width: 100%
  a
    align-items: center
    color: $primary-three
    display: flex
    height: 100%
    padding: 0 15px
    text-transform: uppercase

.header__icons
  display: flex
  a
    padding: 0 7px
    &:last-child
      margin-right: 8px

.main
  border-radius: 5px
  background: $neutral-one
  box-shadow: $box-shadow-very-low
  margin: 30px 15px
  max-width: 1120px

.sidelink-text
  visibility: hidden
  display: none
  transition: .5s

.title
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  border-bottom: 3px solid $primary-two
  color: #000
  font-size: 1.0rem
  padding: 36px 0
  margin-bottom: 0
  text-align: center
  width: 100%
  span
    font-weight: 400

.leader-list
  border-top: 1px solid #999
  margin: 0
  list-style: none
  padding: 0
  .copy
    display: flex
    flex-direction: column
    font-size: 12px
    justify-content: center
    transition: 200ms
    padding: 0 0 0 10px
    position: relative
  a
    align-items: center
    color: #FFF
    display: flex
    position: relative
    transition: 300ms
    font-weight: 600
    text-decoration: none
    img
      min-width: 50px
    span
      font-size: 11px
      font-weight: 400
    &:hover
      background: #333
      .copy
        padding: 0 0 0 15px

.menu
  background: $neutral-one
  border-radius: 5px
  grid-area: menu
  height: 100%
  padding: 0 0 36px
  width: 100%

.leader-list
  .navlink-active
    background: #373737
    &:hover
      background: #3F3F3F
    .copy
      width: 100%
      justify-content: flex-end
      padding: 0 0 0 10px

.nav-sidenav
  display: flex
  flex-direction: column
  transition: 0s
  .leader-list
    display: none
  .page-show
    display: block
  li
    a
      img
        height: 50px
  div
    width: 100%
    ul
      li
        &:nth-child(3n)
          a
            .copy
              border-right: 0

.sidebar-button
  background: #222
  border: 0
  border-radius: 0
  color: #888
  cursor: pointer
  display: flex
  font-size: 9px
  height: 50px
  justify-content: center
  min-width: 50px
  padding: 0
  transition: 150ms
  width: auto
  &:hover
    border: 0
  a
    align-items: center
    color: #666
    display: flex
    flex-direction: column
    text-decoration: none
  .open-menu
    margin: 2px
    transition: 150ms
    width: 18px
  .search-menu
    align-items: center
    display: flex
    flex-direction: column
 
.top-nav
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  .active
    background: rgba(0,0,0,1)
    color: #fff
  a
    background: #DDD
    border-left: 1px solid #DDD
    color: #000
    display: block
    margin: 0
    text-decoration: none
    min-width: 30px
    width: 100%
    &:first-child
      border: 0
    &:hover
      background: rgba(0,0,0,.1)
  .active:hover
    background: #000
    color: #ffa500

.top-nav-leader
  display: flex
  justify-content: space-between

.top-icon
  height: 60px
  text-align: left
  width: 60px

.detail__image-top
  animation: fade-in-bottom ease 0.4s forwards
  animation-delay: 0.4s
  border-top-left-radius: 5px
  height: 60px
  max-height: 60px

.banner-text
  color: #000
  font-size: 16px
  line-height: 40px
  margin: 0
  align-text: center

.detail__image-flag
  height: 60px
  position: relative
  img
    animation-delay: .8s
    border-top-right-radius: 5px
    float: right
    height: 100%
    max-width: 120px

.top-title
  align-items: center
  border-top: 3px solid $neutral-three
  cursor: default
  justify-content: center
  display: flex
  font-size: 1rem
  font-weight: bold
  letter-spacing: .25px
  width: 100%
  height: 100%
  padding: 4px
  margin: 0
  text-align: center
  text-transform: uppercase
  white-space: nowrap

.top-content
  padding: 0
  position: relative
  width: 100%

.detail__banner
  align-items: center
  border-top-left-radius: 5px
  display: flex
  flex-direction: row
  flex-grow: 1

.home-featured
  max-width: 1120px
  margin: 0 auto
  width: 100%

.inner-ad
  display: none
  align-items: center
  justify-content: center
  background: #EEE
  height: 100px
  margin: 10px auto 0
  width: 100%

.featured
  ul
    display: grid
    grid-gap: 15px
    grid-template-columns: repeat(auto-fit, minmax(max-content, 320px))
    justify-content: center
    height: auto
    margin: 36px 0
    padding: 0 7px

.featured-layout
  animation: fade-in-top .3s ease forwards
  animation-delay: .8s
  background: #FFF
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 10px
  width: 100%

.featured-details
  background: #D3D3D3
  display: flex
  flex-direction: column
  flex-grow: 1
  font-weight: 700
  flex-wrap: no-wrap
  justify-content: space-between

.featured-details-items
  align-items: center
  background: #CCC
  display: flex
  flex-direction: column
  span
    align-self: center
    display: flex
    flex-direction: column
    justify-content: space-between
    font-size: 14px
    font-weight: 700
    height: 100%
    margin: 0 5px
    max-width: 100px
    text-align: center
    width: 100%
    a
      color: #000
      font-size: 12px
      padding: 5px 0

.featured-leader
  max-height: 110px
  min-height: 80px
  min-width: 50px

.news-item
  box-shadow: 0 2px 6px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07)
  border-radius: 5px
  display: flex
  flex-direction: row
  font-size: 12px
  justify-content: center
  padding: 0
  width: 330px
  min-width: 120px
  a
    color: #333
    cursor: pointer
    display: flex
    justify-content: space-between
    text-decoration: none
    position: relative
    height: 100%
    min-width: 62px
  img
    background: #CCC
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    height: 100%
    width: 165px
  div
    flex: 1

.news-item-detail
  display: flex
  flex-direction: column
  font-size: 10px
  font-style: italic
  justify-content: space-between
  padding: 0px 10px 5px
  text-align: right

.news-item-header
  border-top-right-radius: 5px
  font-weight: bold
  padding: 5px 5px
  text-align: center

.news-item-content
  cursor: pointer
  display: block
  min-height: 24px
  padding: 0 10px 5px

.featured-page-link
  text-align: right
  a
    color: #000
    font-size: 12px
    padding: 0 5px
    &:hover
      color: #CC0000
      text-decoration: underline

.featured-link
  border: 1px solid #AAA
  background: $paragraph
  display: flex
  align-self: flex-end
  margin: 10px auto
  padding: 6px 15px
  transition: 100ms
  text-align: center
  max-width: 90px
  a
    color: #000
    display: flex
    align-items: center
    font-size: 12px
    padding: 0 10px
    text-decoration: none
    text-align: center
  &:hover
    background: #BBB

.contentBox
  align-items: center
  display: flex
  flex-direction: column

.content-box-links
  animation-delay: 0.6s
  align-items: center
  display: flex
  flex-grow: 1
  flex-wrap: nowrap
  font-size: 0.75rem
  justify-content: space-between
  line-height: 45px
  text-align: center
  overflow-x: auto
  a
    background: $neutral-two
    &:hover
      background: $neutral-three

.content
  align-items: center
  display: flex
  flex-direction: column
  width: 100%

.home__content
  margin: 0 auto
  max-width: 960px
  width: 100%

.detail
  margin: 0 auto
  width: 100%

.img-highlight
  align-items: center
  display: flex
  flex-direction: column
  margin-right: 0
  width: 100%
  .img-highlight-leader
    width: 100%
    position: relative
    text-align: center
    .img-highlight-image
      border-radius: 8px
      box-shadow: 0 2px 6px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07)
      position: relative
      z-index: 1
      height: 279px
      max-width: 196px
    &::after
      background: $neutral-two
      display: block
      height: 25%
      width: 100%
      content: ""
      position: absolute
      top: 75%
  .img-highlight-text
    background: $neutral-two
    text-align: center
    width: 100%
    p
      color: #000
      font-family: 'Titillium+Web', sans-serif      
      font-size: 16px
      font-weight: 400
      line-height: .66em

.home
  display: flex
  flex-direction: column
  grid-area: main

.home-hero
  margin: 0 auto
  max-width: 900px
  width: 100%
  text-align: center
  position: relative
  .home-overlay
    background-color: rgba(34,34,34,0.85)
    bottom: 0
    color: #DDD
    font-size: 18px
    font-weight: 700
    padding: 20px 15px
    position: absolute
    transition: 100ms
    width: 100%
    cursor: pointer
  &:hover
    .home-overlay
      padding: 30px 15px

.home-hero-link
  display: block

.home-hero-img
  display: flex
  max-width: 100%
  

.inner-home
  background: #F8F8F8
  margin: 15px auto 0
  padding: 15px 15px
  width: 100%
  max-width: 900px

.home-image
  opacity: .7
  margin: -30px auto 0
  max-width: 120px

.inner-election
  margin: 0 auto
  max-width: 900px
  width: 100%

.summits
  background: #EEE
  margin: 10px auto 0
  max-width: 900px
  overflow: hidden
  .item-header
    margin: 0 auto

.summits-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  margin: 10px auto
  padding: 0 5px
  li
    display: flex
    font-size: 12px
    padding: 0 5px
    text-align: right
    img
      width: 212.5px
      max-height: 106px
    a
      color: #000
      display: flex
      flex-direction: column
      span
        margin-bottom: 5px
        padding: 0 2px
      &:hover
        color: #C00
        text-decoration: underline

.inner-map 
  background: #EEE
  width: 100%
  max-width: 900px
  margin: 0 auto 15px

.inner-leader-map
  height: 100%

.map
  display: flex
  flex-direction: column

.inner-home-map
  background: #EEE
  border: none
  display: flex
  flex-grow: 2
  justify-content: flex-end
  margin: 10px
  iframe
    width: 100%

.inner-map-list
  background: #DDD
  flex-grow: 1
  margin: 10px 10px 0
  padding: 10px
  h3
    margin: 0 0 10px
  ul
    border: 1px solid #AAA
    margin: 0
  li
    background: $header
    padding: 10px
    &:nth-child(odd)
      background: $paragraph

.item-header
  align-items: center
  background: #E3E3E3
  color: #555
  display: flex
  font-size: 12px
  font-weight: 900
  height: 50px
  justify-content: center
  margin: 0 auto
  text-transform: uppercase

.menu__grid-item
  background: #EEE
  display: flex
  height: 120px
  padding: 0px
  width: 120px
  a
    display: block
    position: relative
    text-decoration: none
  &:hover
    .menu__grid-overlay
      opacity: 0.5
      padding: 60px 0
    .menu__grid-text
      padding: 47px 0
  img
    height: 120px
    width: 120px

.menu__grid-list
  max-width: 640px
  margin: 0 auto

.menu__grid-list-ul
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(auto-fit, minmax(max-content, 120px))
  justify-content: center
  margin: 0 auto
  padding: 0

.menu__grid-overlay
  background: $neutral-seven
  bottom: 0
  height: 30px
  opacity: 0.8
  padding: 2px 0
  position: absolute
  min-width: 120px
  transition: .2s

.menu__grid-text
  bottom: 0
  color: #FFF
  font-size: 11px
  font-weight: bold
  min-width: 120px
  opacity: .9
  padding: 2px 0
  position: absolute
  text-align: center
  transition: .2s
  span
    display: block
    width: 100%


.menu__grid-sort
  background: $neutral-two
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 36px auto 10px
  max-width: 640px
  ul
    display: flex
    flex-direction: row
    list-style: none
    margin: 0
    padding: 0
    width: 100%
    li
      align-items: center
      border-left: 1px solid $neutral-four
      color: $neutral-six
      cursor: pointer
      display: flex
      flex: 1
      font-size: 0.75rem
      font-weight: bold
      justify-content: center
      padding: 12px 5px
      &:first-child
        border-left: none
      &:hover,
      &.active
        background: $neutral-three
        border-top: 4px solid $primary-two
        padding: 6px 5px 10px
      a
        align-items: center
        color: #000
        display: flex
        flex-direction: row
        font-size: 12px
        justify-content: center
        text-align: center
        text-decoration: none
        width: 100%
  img
    max-height: 1rem
    padding-right: 5px

.inner-rank
  animation: fade-in-top 0.4s ease forwards
  animation-delay: 0.6s
  background: $paragraph
  max-width: 800px
  margin: 0 auto 15px
  width: 100%

.rank
  margin-top: 15px

.rank-item
  display: flex
  padding: 0 15px
  margin: 0 auto 15px
  .rank-item-image
    max-height: 93px
    margin-right: 10px
    transition: .1s
    img
      height: 93px
      width: 60px
  .rank-item-data
    display: flex
    flex-grow: 1
    flex-direction: column
    .rank-head-name
      align-items: flex-end
      display: flex
      font-size: 14px
      justify-content: space-between
      flex-grow: 1
      span
        font-size: 12px
        justify-content: center
    .rank-link
      position: relative
      margin: 0 5px
      .rank-image
        height: 132px
        width: 220px
        padding-bottom: 15px
      .rank-headline
        background: #ffffff
        box-shadow: $box-shadow-very-low
        display: block
        font-size: 14px
        font-weight: 900
        left: 20px
        line-height: 13px
        max-width: 180px
        min-height: 56px
        max-height: 80px
        overflow: hidden
        padding: 10px
        position: absolute
        bottom: 5px
      &:hover .rank-headline
        transform: translateY(-2px)
      &:active .rank-headline
        transform: translateY(0)
    .rank-item-head
      background: $header
      display: flex
      justify-content: space-between
      padding: 5px 10px

    .rank-item-articles
      box-sizing: border-box
      flex-grow: 1
      padding: 10px 5px
      text-align: left
      width: 100%
      a
        color: #333

.inner-week
  background: $paragraph
  width: 100%
  max-width: 800px
  margin: 0 auto
  .week
    animation: fade-in-top .3s ease forwards
    animation-delay: 0.5s
    display: flex
    flex-wrap: wrap
    margin: 15px auto 0
    max-width: 800px
    padding: 0 15px
    .week-box
      align-items: center
      box-sizing: border-box
      display: flex
      height: 88px
      flex-direction: column
      overflow: hidden
      margin: 0px auto 15px
      max-width: 384px
      position: relative
      width: 100%
      .week-title
        border: 1px solid #D4D0C6
        display: flex
        flex-direction: column
        height: 88px
        justify-content: space-between
        overflow: hidden
        width: 100%
        .week-day
          align-items: center
          background: #D4D0C6
          color: #000
          display: flex
          height: 36px
          min-height: 36px
          padding: 0 5px
          justify-content: center
      .week-details
        background: $paragraph
        display: flex
        flex-grow: 1
        align-items: flex-end
        width: 100%
        cursor: pointer
        overflow: hidden
        a
          align-items: flex-end
          cursor: default
          display: flex
          height: 100%
          text-decoration: none
          width: 100%
          img
            height: 88px
            width: 128px
            margin-right: 5px
            min-width: 128px
          .week-content
            background: #f3f3f3
            font-size: 14px
            text-align: left
            color: #000
            flex-grow: 1
            padding: 0 5px

.inner-datasheets
  width: auto
  display: flex
  justify-content: space-between
  padding: 20px 0
  tbody
    margin: 0 auto
  td
    border: 1px solid #000
    padding: 10px 5px

.inner-polls
  height: auto
  padding: 0px 0

.twitter-inner
  animation: fade-in-top ease 0.4s forwards
  animation-delay: 0.6s
  background: #f6f6f6
  max-width: 900px
  margin: 0 auto 25px
  padding: 5px 0 0
  iframe
    margin: 0 auto

.timeline
  width: 500px

.schedule
  background: #F6F6F6
  display: flex
  margin: 10px auto
  justify-content: space-between
  .schedule-div
    margin: 10px 10px 0
    width: 100%
  .inner-schedule
    display: flex
    flex-direction: column
    height: auto
    justify-content: center
    .scheduleBox
      display: flex
      flex-direction: row
      flex-wrap: wrap
      height: 100%
      ul
        margin: 0
        list-style: none
        padding: 0
        width: 100%
        .dayBox
          display: flex
          flex-direction: row
          align-items: center
          padding: 0 0 10px
          .dateBox
            background: #FFF
            align-items: center
            align-self: flex-start
            justify-content: center
            flex-direction: column
            display: flex
            height: 60px
            width: 60px
            min-width: 60px
            font-size: 18px
            font-weight: 200
            margin-right: 10px
            .monthBox
              font-size: 12px
              margin-bottom: 4px
              min-width: 40px
              text-align: center
          .eventBox
            background: #FFF
            font-size: 13px
            flex-direction: column
            flex-grow: 1
            justify-content: space-between
            display: flex
            align-items: center
            overflow: hidden
            p
              padding: 10px
              overflow: hidden
              box-sizing: border-box
              margin: 0
              width: 100%
              display: flex
              flex-grow: 1
              display: block
              text-overflow: ellipsis
              text-align: left
            span
              background: #EAEAEA
              box-sizing: border-box
              display: flex
              justify-content: flex-end
              width: 100%
              padding: 3px
  .mapsBox
    display: flex
    flex-direction: column
    .inner-maps
      margin: 0 auto
      width: 66%
      position: relative

.top-split
  display: flex
  animation-delay: 1s

.datasheets-inner
  background: $neutral-one
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0 auto
  padding: 30px 10px
  width: 100%

.data-container
  display: flex
  flex: 1
  flex-direction: column
  align-items: center
  font-size: 0.75rem
  a
    color: $neutral-six
    align-self: flex-end
    font-size: 12px
    margin-bottom: 2px
    text-decoration: underline
    &:hover
      color: $neutral-five
  li
    background: #FAFAFA
    box-sizing: border-box
    display: flex
    justify-content: space-between
    padding: 9px 10px
    width: 100%
    max-width: 440px
    &:nth-child(odd)
      background: $neutral-two
    &:nth-child(even)
      background: #fff
  .detail__table-title
    display: flex
    font-weight: bold
    justify-content: center
    padding: 12px 0

.data-country
  border: 1px solid #000
  flex-grow: 1
  font-size: 18px
  font-weight: 400
  background: #eee
  padding: 10px
  width: 800px

.data-info
  border: 1px solid #ddd
  margin: 5px
  flex-grow: 1

.data-image
  display: flex
  flex: 1
  justify-content: center

.data-pic
  width: 200px
  box-sizing: border-box

.listItems
  li:nth-child(-n+3)
    display: none
  li
    padding: 0

.biography
  text-align: left
  width: 100%
  .biography-text
    background: $neutral-two
    border-radius: 3px
    border-top: 3px solid $primary-two
    min-height: 50px
    margin: 30px 50px 50px
    padding: 15px
    h4
      margin: 0 0 15px 0
    p
      margin: 0

.maps
  border: 0
  min-height: 496px
  transition: 100ms
  width: 50%

.leadermap
  animation: fade-in-top ease 0.4s forwards
  animation-delay: 1.2s
  border: 0
  max-width: 800px
  height: 100%
  transition: .1s
  width: 100%

#overlay
  width: 100%
  height: 100%
  background: rgba(224,224,224,.6)
  position: absolute
  transition: .25s

.more
  color: #000

.news
  background: #f6f6f6
  display: flex
  flex-direction: column
  margin-top: 10px
  width: 100%

.inner-news
  justify-content: space-around
  display: flex
  flex-wrap: wrap
  flex-direction: row
  margin: 0 auto
  padding: 10px
  overflow: hidden
  transition: .3s
  h4
    align-self: center
    margin: 0 auto
  .more-loaded
    display: none

.news-box
  background: #DDD
  margin: 0
  max-width: 420px
  padding: 10px
  width: 100%
  &:first-child
    margin-bottom: 10px

.news-open
  cursor: pointer
  margin: 0 auto 10px
  max-width: 150px
  padding: 10px 0
  text-transform: uppercase
  transition: .1s
  width: 40%

.news-flow
  align-items: center
  background: #E9E9E9
  display: flex
  margin-bottom: 10px
  padding: 0
  div
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-between
    padding-left: 10px
    .flow-title
      display: flex
      flex-direction: column
      font-weight: bold
      height: 35px
      justify-content: center
    .details
      background: #D9D9D9
      display: flex
      font-size: 12px
      margin-left: -10px
      padding-left: 10px

.flow-link
  color: #000
  &:hover
    color: #E94949

.contact
  height: 100%
  padding: 0px 50px
  .contact-details
    background: $neutral-two
    border-radius: 3px
    border-top: 3px solid $primary-one
    margin: 50px auto
    padding: 100px 0
    text-align: center
    a
      color: $neutral-six
      &:hover
        text-decoration: underline

.twitter-inner
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center

/* Election Calendar

.election-cal
  background: #EEE
  display: flex
  flex-direction: column
  padding: 10px
  .election-cal-years
    border: 1px solid #AAA
    box-sizing: border-box
    display: flex
    margin: 0 auto
    a
      background: $header
      border-right: 1px solid #AAA
      color: #000
      cursor: pointer
      font-weight: 600
      font-size: 14px
      padding: 9px 12px
      text-decoration: none
      &:hover
        text-decoration: underline
      &:last-child
        border-right: 0

.election-cal-container
  display: flex
  flex-direction: column

.election-item
  width: 100%
  margin: 0

.election-cal-list
  box-sizing: border-box
  cursor: default
  display: flex
  flex: 1
  flex-direction: column
  list-style: none
  margin: 0 0 0 5px
  &:first-child
    margin-right: 5px
    margin-left: 0
  li
    background: $paragraph
    display: flex
    font-size: 14px
    justify-content: space-between
    padding: 8px
    &:nth-child(even)
      background: $header
  
.election-cal-date
  color: #555

.election-cal-loadlist
  align-self: center
  margin: 10px 5px
  padding: 5px
  text-align: center
  width: 100px

.footer
  align-items: center
  background: $neutral-seven
  border-left: 0
  box-sizing: border-box
  color: $paragraph
  display: flex
  flex-direction: column
  grid-area: footer
  justify-content: flex-end
  height: 160px
  width: 100%

.inner-footer
  display: flex
  color: $primary-three
  font-size: 11px
  width: 100%
  max-width: 900px
  padding: 0 10px
  text-align: right
  justify-content: flex-end
  flex-direction: column

.input-email
  background: #333
  border: 1px solid $header
  border-radius: 2px
  color: $paragraph
  font-size: 14px
  padding: 5px
  transition: 150ms
  &::placeholder
    color: $paragraph
  &:focus
    background: $header
    color: #000
    &::placeholder
      color: #000

.button-submit
  background: $header
  border: 1px solid $header
  border-radius: 2px
  color: #000000
  cursor: pointer
  font-size: 14px
  margin: 5px
  margin-right: 0
  padding: 5px
  transition: .15s
  &:hover
    background: #999
    border: 1px solid #999
  &:active
    background: $header
    border: 1px solid $header
    transition: 0s

.news
  h1
    font-size: 24px
    margin: 1.5em 0

.news-story
  box-sizing: border-box
  display: flex
  flex-direction: column
  height: 100%
  max-height: 280px
  overflow: hidden
  position: relative
  &:hover
    flex-grow: 2
    .news-info-container
      flex: 1
    .news-text-container
      display: flex

.news-img-container
  background: #DDD
  display: flex
  flex: 1
  flex-direction: column
  overflow: hidden
  width: 100%
  
.news-info-container  
  flex: 0
  flex-direction: column
  font-size: 15px
  max-height: 280px
  width: 100%

.news-text-container
  display: none
  flex: 0
  flex-direction: column-reverse

.news-micro
  display: flex
  flex-wrap: wrap
  padding: 10px
  margin: 0

.news-box-micro
  max-width: 205px
  padding: 10px 6.66px 10px
  &:nth-child(4n + 1)
    padding-left: 10px
  &:nth-child(4n)
    padding-right: 10px
  &:last-child
    padding-right: 10px

.article
  font-size: 13px
  overflow: hidden
  max-height: 80px
  text-align: left
  color: #000
  width: 100%
  &:hover
    .article-image
      z-index: 1

.article-image
  height: 280px
  width: 420px
  width: 100%

.article-link
  display: grid

.article-link-headline
  align-items: center
  background: #666
  box-sizing: border-box
  display: flex
  justify-content: center
  font-size: 13px
  height: auto
  padding: 7px 10px
  text-decoration: none
  width: 100%

.article-link-go
  align-items: center
  background: #333
  border: 1px solid #333
  box-sizing: border-box
  color: #fff
  display: flex
  height: auto
  margin: 0 5px
  padding: 5px 10px
  text-decoration: none
  transition: .1s
  &:hover
    background: #fff
    color: #000
    text-decoration: underline

.headline
  color: #000
  font-family: 'Titiliium', sans-serif
  font-size: 14px
  font-weight: 500
  height: 20px
  text-transform: capitalize
  vertical-align: middle
  &:hover
    color: #666

.article-author-date
  background: #E8E8E8
  font-size: 11px
  padding: 10px
  display: flex
  justify-content: space-between

.article-text
  align-items: center
  background: #F0F0F0
  box-sizing: border-box
  display: flex
  justify-content: space-between
  min-height: 77px
  overflow: hidden
  padding: 10px

.time
  white-space: nowrap
  overflow: hidden

.country-detail
  border-bottom-left-radius: 5px
  display: flex
  flex-direction: column

.country-map
  background: #C7D8EC
  border-radius: 5px
  box-shadow: 0 2px 6px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07)
  display: flex
  flex-grow: 1
  align-items: center
  justify-content: center
  margin-top: 10px
  img
    height: auto
    max-height: 220px
    max-width: 300px
    padding: 10px

  li
    display: flex
    justify-content: space-between
    padding: 5px 10px
    text-transform: capitalize

.country-list
  display: flex
  flex-direction: column
  margin: 10px

.country-entries
  background: #EEE
  display: flex
  flex-direction: column
  flex-grow: 1
  margin: 0
  list-style: none
  text-align: left
  li
    display: flex
    padding: 5px 10px
    justify-content: space-between
    &:nth-child(2n+1)
      background: $neutral-two
    &:nth-child(2n+2)
      background: $neutral-one
  .country__table-title
    display: flex
    font-weight: bold
    justify-content: center
    padding: 10px
  &:nth-child(even)
    text-align: right
    li
      &:nth-child(2n+1)
        background: #CCC
      &:nth-child(2n+2)
        background: #DDD



.others
  align-items: center
  background: #F6F6F6
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0
  width: 100%
  img
    max-height: 46px
    width: auto
  div
    box-sizing: border-box
    display: flex
    cursor: pointer
    transition: .2s
    width: 100%
    &:first-child
      display: none
    &:hover
      background: #DDD
      img.othersArrow
        background: #BBB
        padding: 12px
        transition: .2s
        width: 50px
    span
      font-size: 12px
      color: #000
      text-transform: uppercase
      margin: 0 5px
      padding: 5px 10px
    a
      align-items: center
      background: #EEE
      display: flex
      justify-content: space-between
      flex-direction: row
      text-decoration: none
      padding: 0
      width: 100%
    &:last-child
      justify-content: flex-end

img.othersArrow
  align-self: center
  background: #CCC
  height: 22px
  margin: 0
  padding: 12px
  transition: 200ms
  width: 22px


/*********************************************************/
/*********************************************************/
/******************** DESKTOP STYLES *********************/
/*********************************************************/
/*********************************************************/


@media (min-width: 960px) 

  .container
    display: grid
    grid-template-areas: "header header" "sidebar main" "footer footer"
    grid-template-columns: 12.5% auto
    margin: 0 auto

  .sidebar
    display: block

  .sidebar-content
    display: block

  .main
    margin: 30px 15px 30px 0

  .header
    height: 50px

  a.header__menu-link
    display: none

  .home__content
    max-width: 1120px

  .datasheets-inner
    flex-direction: row-reverse

  .data-container
    justify-content: flex-start

  .grid-sort
    flex-direction: row
    margin: 50px auto 0
    ul
      flex-direction: row

  .news-box
    &:first-child
      margin-bottom: 0

  .news-box
    background: #DDD
    max-width: 415px
    margin: 0 0 0 5px
    padding: 10px
    width: 100%
    &:first-child
      margin: 0 5px 0 0

  .menu__grid-sort
    border-radius: 5px
    ul
      li
        &:first-child
          &.active,
          &:hover
            border-top-left-radius: 5px
            border-bottom-left-radius: 5px
        &:last-child
          &.active,
          &:hover
            border-top-right-radius: 5px
            border-bottom-right-radius: 5px

  .country-map
    margin: 0

  .home-hero
    margin: 10px auto 0

  .featured
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

  .featured-layout
    flex-direction: row

  .featured-details
    flex-direction: column
    justify-content: flex-start
    min-width: 200px

  .featured-details-items
    flex-direction: row

  .featured-news
    ul
      flex-direction: row

  .election-cal-container
    flex-direction: row

  .country-list
    flex-direction: row
    ul
      &:first-child
        margin-right: 10px

  .others
    flex-direction: row
    div
      &:first-child
        display: block
        margin-right: 10px

  .summits-list
    flex-direction: row
