/************************ FONT-FACE ********************* */
@import url("https://fonts.googleapis.com/css?family=Kanit|Raleway|Titillium+Web:400,700,900");
/*********************** VARIABLES ********************** */
/********************* MOBILE STYLES ******************** */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

input {
  color: #fff;
  outline: none; }

*::-webkit-input-placeholder {
  color: #fff; }

button {
  background: #BBB;
  border: 1px solid #888;
  color: #000;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: 100ms; }
  button:hover {
    background: #AAA;
    border: 1px solid #777; }

body {
  background: #e9e7e2;
  display: flex; }

ul {
  list-style: none;
  padding: 0; }

li {
  padding: 0px 5px; }

a {
  color: #FFF;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.page-divider {
  background: #e9e7e2;
  margin: 0;
  padding: 30px 0; }

.container {
  border-top: 3px solid #fadb61;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  margin: 0 auto; }

.sidebar {
  display: none;
  color: #000;
  grid-area: sidebar;
  height: 100%;
  margin-top: 30px; }

.sidebar-header {
  align-content: center;
  align-items: center;
  background: #E94949;
  color: #EEE;
  display: flex;
  font-family: "Titillium Web", serif;
  font-size: 28px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  letter-spacing: -1.5px;
  text-decoration: none;
  text-transform: uppercase; }

.sidebar-list {
  margin: 0; }
  .sidebar-list li {
    padding: 0 10px; }
    .sidebar-list li a {
      align-items: center;
      color: #000;
      display: flex;
      font-size: 12px;
      height: 30px;
      padding: 0 15px; }
      .sidebar-list li a:hover {
        border-radius: 5px;
        text-decoration: underline; }
    .sidebar-list li a.active {
      background: #d4cfc4;
      border-radius: 5px; }

.header {
  align-items: center;
  background: #f9f8f6;
  display: flex;
  font-style: italic;
  font-weight: 900;
  grid-area: header;
  height: 36px;
  justify-content: space-between;
  overflow: hidden;
  width: 100%; }
  .header a {
    align-items: center;
    color: #f7c94a;
    display: flex;
    height: 100%;
    padding: 0 15px;
    text-transform: uppercase; }

.header__icons {
  display: flex; }
  .header__icons a {
    padding: 0 7px; }
    .header__icons a:last-child {
      margin-right: 8px; }

.main {
  border-radius: 5px;
  background: #f9f8f6;
  box-shadow: 0 8px 30px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
  margin: 30px 15px;
  max-width: 1120px; }

.sidelink-text {
  visibility: hidden;
  display: none;
  transition: 0.5s; }

.title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 0;
  border-bottom: 3px solid #fadb61;
  color: #000;
  font-size: 1rem;
  padding: 36px 0;
  margin-bottom: 0;
  text-align: center;
  width: 100%; }
  .title span {
    font-weight: 400; }

.leader-list {
  border-top: 1px solid #999;
  margin: 0;
  list-style: none;
  padding: 0; }
  .leader-list .copy {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    transition: 200ms;
    padding: 0 0 0 10px;
    position: relative; }
  .leader-list a {
    align-items: center;
    color: #FFF;
    display: flex;
    position: relative;
    transition: 300ms;
    font-weight: 600;
    text-decoration: none; }
    .leader-list a img {
      min-width: 50px; }
    .leader-list a span {
      font-size: 11px;
      font-weight: 400; }
    .leader-list a:hover {
      background: #333; }
      .leader-list a:hover .copy {
        padding: 0 0 0 15px; }

.menu {
  background: #f9f8f6;
  border-radius: 5px;
  grid-area: menu;
  height: 100%;
  padding: 0 0 36px;
  width: 100%; }

.leader-list .navlink-active {
  background: #373737; }
  .leader-list .navlink-active:hover {
    background: #3F3F3F; }
  .leader-list .navlink-active .copy {
    width: 100%;
    justify-content: flex-end;
    padding: 0 0 0 10px; }

.nav-sidenav {
  display: flex;
  flex-direction: column;
  transition: 0s; }
  .nav-sidenav .leader-list {
    display: none; }
  .nav-sidenav .page-show {
    display: block; }
  .nav-sidenav li a img {
    height: 50px; }
  .nav-sidenav div {
    width: 100%; }
    .nav-sidenav div ul li:nth-child(3n) a .copy {
      border-right: 0; }

.sidebar-button {
  background: #222;
  border: 0;
  border-radius: 0;
  color: #888;
  cursor: pointer;
  display: flex;
  font-size: 9px;
  height: 50px;
  justify-content: center;
  min-width: 50px;
  padding: 0;
  transition: 150ms;
  width: auto; }
  .sidebar-button:hover {
    border: 0; }
  .sidebar-button a {
    align-items: center;
    color: #666;
    display: flex;
    flex-direction: column;
    text-decoration: none; }
  .sidebar-button .open-menu {
    margin: 2px;
    transition: 150ms;
    width: 18px; }
  .sidebar-button .search-menu {
    align-items: center;
    display: flex;
    flex-direction: column; }

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }
  .top-nav .active {
    background: black;
    color: #fff; }
  .top-nav a {
    background: #DDD;
    border-left: 1px solid #DDD;
    color: #000;
    display: block;
    margin: 0;
    text-decoration: none;
    min-width: 30px;
    width: 100%; }
    .top-nav a:first-child {
      border: 0; }
    .top-nav a:hover {
      background: rgba(0, 0, 0, 0.1); }
  .top-nav .active:hover {
    background: #000;
    color: #ffa500; }

.top-nav-leader {
  display: flex;
  justify-content: space-between; }

.top-icon {
  height: 60px;
  text-align: left;
  width: 60px; }

.detail__image-top {
  animation: fade-in-bottom ease 0.4s forwards;
  animation-delay: 0.4s;
  border-top-left-radius: 5px;
  height: 60px;
  max-height: 60px; }

.banner-text {
  color: #000;
  font-size: 16px;
  line-height: 40px;
  margin: 0;
  align-text: center; }

.detail__image-flag {
  height: 60px;
  position: relative; }
  .detail__image-flag img {
    animation-delay: 0.8s;
    border-top-right-radius: 5px;
    float: right;
    height: 100%;
    max-width: 120px; }

.top-title {
  align-items: center;
  border-top: 3px solid #d4cfc4;
  cursor: default;
  justify-content: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.25px;
  width: 100%;
  height: 100%;
  padding: 4px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap; }

.top-content {
  padding: 0;
  position: relative;
  width: 100%; }

.detail__banner {
  align-items: center;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-grow: 1; }

.home-featured {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%; }

.inner-ad {
  display: none;
  align-items: center;
  justify-content: center;
  background: #EEE;
  height: 100px;
  margin: 10px auto 0;
  width: 100%; }

.featured ul {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 190px));
  justify-content: center;
  height: auto;
  margin: 36px 0; }

.featured-layout {
  animation: fade-in-top 0.3s ease forwards;
  animation-delay: 0.8s;
  background: #FFF;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width: 100%; }

.featured-details {
  background: #D3D3D3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: 700;
  flex-wrap: no-wrap;
  justify-content: space-between; }

.featured-details-items {
  align-items: center;
  background: #CCC;
  display: flex;
  flex-direction: column; }
  .featured-details-items span {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    height: 100%;
    margin: 0 5px;
    max-width: 100px;
    text-align: center;
    width: 100%; }
    .featured-details-items span a {
      color: #000;
      font-size: 12px;
      padding: 5px 0; }

.featured-leader {
  max-height: 110px;
  min-height: 80px;
  min-width: 50px; }

.news-item {
  box-shadow: 0 2px 6px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  padding: 0;
  width: 190px;
  min-width: 120px; }
  .news-item a {
    color: #333;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
    height: 100%;
    min-width: 62px; }
  .news-item img {
    background: #CCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 40px;
    width: 190px; }

.news-item-detail {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-style: italic;
  justify-content: space-between;
  padding: 0px 10px 5px;
  text-align: right; }

.news-item-header {
  border-top-right-radius: 5px;
  font-weight: bold;
  padding: 5px 5px;
  text-align: center; }

.news-item-content {
  cursor: pointer;
  display: block;
  min-height: 24px;
  padding: 0 10px 5px; }

.featured-page-link {
  text-align: right; }
  .featured-page-link a {
    color: #000;
    font-size: 12px;
    padding: 0 5px; }
    .featured-page-link a:hover {
      color: #CC0000;
      text-decoration: underline; }

.featured-link {
  border: 1px solid #AAA;
  background: #ECE8DD;
  display: flex;
  align-self: flex-end;
  margin: 10px auto;
  padding: 6px 15px;
  transition: 100ms;
  text-align: center;
  max-width: 90px; }
  .featured-link a {
    color: #000;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
    text-align: center; }
  .featured-link:hover {
    background: #BBB; }

.contentBox {
  align-items: center;
  display: flex;
  flex-direction: column; }

.content-box-links {
  animation-delay: 0.6s;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  font-size: 0.75rem;
  justify-content: space-between;
  line-height: 45px;
  text-align: center;
  overflow-x: auto; }
  .content-box-links a {
    background: #e9e7e2; }
    .content-box-links a:hover {
      background: #d4cfc4; }

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%; }

.home__content {
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }

.detail {
  margin: 0 auto;
  width: 100%; }

.img-highlight {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  width: 100%; }
  .img-highlight .img-highlight-leader {
    width: 100%;
    position: relative;
    text-align: center; }
    .img-highlight .img-highlight-leader .img-highlight-image {
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
      position: relative;
      z-index: 1;
      height: 279px;
      max-width: 196px; }
    .img-highlight .img-highlight-leader::after {
      background: #e9e7e2;
      display: block;
      height: 25%;
      width: 100%;
      content: "";
      position: absolute;
      top: 75%; }
  .img-highlight .img-highlight-text {
    background: #e9e7e2;
    text-align: center;
    width: 100%; }
    .img-highlight .img-highlight-text p {
      color: #000;
      font-family: "Titillium+Web", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 0.66em; }

.home {
  display: flex;
  flex-direction: column;
  grid-area: main; }

.home-hero {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  text-align: center;
  position: relative; }
  .home-hero .home-overlay {
    background-color: rgba(34, 34, 34, 0.85);
    bottom: 0;
    color: #DDD;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 15px;
    position: absolute;
    transition: 100ms;
    width: 100%;
    cursor: pointer; }
  .home-hero:hover .home-overlay {
    padding: 30px 15px; }

.home-hero-link {
  display: block; }

.home-hero-img {
  display: flex;
  max-width: 100%; }

.inner-home {
  background: #F8F8F8;
  margin: 15px auto 0;
  padding: 15px 15px;
  width: 100%;
  max-width: 900px; }

.home-image {
  opacity: 0.7;
  margin: -30px auto 0;
  max-width: 120px; }

.summits {
  background: #EEE;
  margin: 10px auto 0;
  max-width: 900px;
  overflow: hidden; }
  .summits .item-header {
    margin: 0 auto; }

.summits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  padding: 0 5px; }
  .summits-list li {
    display: flex;
    font-size: 12px;
    padding: 0 5px;
    text-align: right; }
    .summits-list li img {
      width: 212.5px;
      max-height: 106px; }
    .summits-list li a {
      color: #000;
      display: flex;
      flex-direction: column; }
      .summits-list li a span {
        margin-bottom: 5px;
        padding: 0 2px; }
      .summits-list li a:hover {
        color: #C00;
        text-decoration: underline; }

.election__container {
  background: #e3e3e3;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 0 15px;
  text-align: center; }

.election__list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 100px));
  justify-content: center; }

.election__list-item {
  align-items: center;
  background: #dadada;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  width: 100px; }
  .election__list-item a {
    color: #000;
    padding: 10px; }

.election__list-flag {
  margin-bottom: 5px;
  width: 80px; }

.inner-map {
  background: #EEE;
  width: 100%;
  max-width: 900px;
  margin: 0 auto 15px; }

.inner-leader-map {
  height: 100%; }

.map {
  display: flex;
  flex-direction: column; }

.inner-home-map {
  background: #EEE;
  border: none;
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  margin: 10px; }
  .inner-home-map iframe {
    width: 100%; }

.inner-map-list {
  background: #DDD;
  flex-grow: 1;
  margin: 10px 10px 0;
  padding: 10px; }
  .inner-map-list h3 {
    margin: 0 0 10px; }
  .inner-map-list ul {
    border: 1px solid #AAA;
    margin: 0; }
  .inner-map-list li {
    background: #D7D0C8;
    padding: 10px; }
    .inner-map-list li:nth-child(odd) {
      background: #ECE8DD; }

.item-header {
  align-items: center;
  background: #E3E3E3;
  color: #555;
  display: flex;
  font-size: 12px;
  font-weight: 900;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase; }

.menu__grid-item {
  background: #EEE;
  display: flex;
  height: 120px;
  padding: 0px;
  width: 120px; }
  .menu__grid-item a {
    display: block;
    position: relative;
    text-decoration: none; }
  .menu__grid-item:hover .menu__grid-overlay {
    opacity: 0.9;
    padding: 60px 0; }
  .menu__grid-item:hover .menu__grid-text {
    padding: 47px 0; }
  .menu__grid-item img {
    height: 120px;
    width: 120px; }

.menu__grid-list {
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

.menu__grid-list-ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 120px));
  justify-content: center;
  margin: 0 auto;
  padding: 0; }

.menu__grid-list-button {
  background: #e9e7e2;
  border: 0;
  border-top: 5px solid #fadb61;
  border-radius: 5px;
  box-shadow: 0 8px 30px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
  margin: 30px auto 15px;
  padding: 10px 20px; }
  .menu__grid-list-button:hover {
    background: #d4cfc4;
    border: 0;
    border-top: 5px solid #fadb61;
    padding: 10px 20px; }

.menu__grid-overlay {
  background: #26231c;
  bottom: 0;
  height: 30px;
  opacity: 0.7;
  padding: 2px 0;
  position: absolute;
  min-width: 120px;
  transition: 0.2s; }

.menu__grid-text {
  bottom: 0;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  min-width: 120px;
  opacity: 0.9;
  padding: 2px 0;
  position: absolute;
  text-align: center;
  transition: 0.2s; }
  .menu__grid-text span {
    display: block;
    width: 100%; }

.menu__grid-sort {
  background: #e9e7e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 36px auto 10px;
  max-width: 640px; }
  .menu__grid-sort ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    .menu__grid-sort ul li {
      align-items: center;
      border-left: 1px solid #a49e94;
      color: #4f4940;
      cursor: pointer;
      display: flex;
      flex: 1;
      font-size: 0.75rem;
      font-weight: bold;
      justify-content: center;
      padding: 12px 5px; }
      .menu__grid-sort ul li:first-child {
        border-left: none; }
      .menu__grid-sort ul li:hover, .menu__grid-sort ul li.active {
        background: #d4cfc4;
        border-top: 4px solid #fadb61;
        padding: 6px 5px 10px; }
      .menu__grid-sort ul li a {
        align-items: center;
        color: #000;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        width: 100%; }
  .menu__grid-sort img {
    max-height: 1rem;
    padding-right: 5px; }

.inner-rank {
  animation: fade-in-top 0.4s ease forwards;
  animation-delay: 0.6s;
  background: #ECE8DD;
  max-width: 800px;
  margin: 0 auto 15px;
  width: 100%; }

.rank {
  margin-top: 15px; }

.rank-item {
  display: flex;
  padding: 0 15px;
  margin: 0 auto 15px; }
  .rank-item .rank-item-image {
    max-height: 93px;
    margin-right: 10px;
    transition: 0.1s; }
    .rank-item .rank-item-image img {
      height: 93px;
      width: 60px; }
  .rank-item .rank-item-data {
    display: flex;
    flex-grow: 1;
    flex-direction: column; }
    .rank-item .rank-item-data .rank-head-name {
      align-items: flex-end;
      display: flex;
      font-size: 14px;
      justify-content: space-between;
      flex-grow: 1; }
      .rank-item .rank-item-data .rank-head-name span {
        font-size: 12px;
        justify-content: center; }
    .rank-item .rank-item-data .rank-link {
      position: relative;
      margin: 0 5px; }
      .rank-item .rank-item-data .rank-link .rank-image {
        height: 132px;
        width: 220px;
        padding-bottom: 15px; }
      .rank-item .rank-item-data .rank-link .rank-headline {
        background: #ffffff;
        box-shadow: 0 8px 30px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
        display: block;
        font-size: 14px;
        font-weight: 900;
        left: 20px;
        line-height: 13px;
        max-width: 180px;
        min-height: 56px;
        max-height: 80px;
        overflow: hidden;
        padding: 10px;
        position: absolute;
        bottom: 5px; }
      .rank-item .rank-item-data .rank-link:hover .rank-headline {
        transform: translateY(-2px); }
      .rank-item .rank-item-data .rank-link:active .rank-headline {
        transform: translateY(0); }
    .rank-item .rank-item-data .rank-item-head {
      background: #D7D0C8;
      display: flex;
      justify-content: space-between;
      padding: 5px 10px; }
    .rank-item .rank-item-data .rank-item-articles {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 10px 5px;
      text-align: left;
      width: 100%; }
      .rank-item .rank-item-data .rank-item-articles a {
        color: #333; }

.inner-week {
  background: #ECE8DD;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }
  .inner-week .week {
    animation: fade-in-top 0.3s ease forwards;
    animation-delay: 0.5s;
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto 0;
    max-width: 800px;
    padding: 0 15px; }
    .inner-week .week .week-box {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 88px;
      flex-direction: column;
      overflow: hidden;
      margin: 0px auto 15px;
      max-width: 384px;
      position: relative;
      width: 100%; }
      .inner-week .week .week-box .week-title {
        border: 1px solid #D4D0C6;
        display: flex;
        flex-direction: column;
        height: 88px;
        justify-content: space-between;
        overflow: hidden;
        width: 100%; }
        .inner-week .week .week-box .week-title .week-day {
          align-items: center;
          background: #D4D0C6;
          color: #000;
          display: flex;
          height: 36px;
          min-height: 36px;
          padding: 0 5px;
          justify-content: center; }
      .inner-week .week .week-box .week-details {
        background: #ECE8DD;
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        width: 100%;
        cursor: pointer;
        overflow: hidden; }
        .inner-week .week .week-box .week-details a {
          align-items: flex-end;
          cursor: default;
          display: flex;
          height: 100%;
          text-decoration: none;
          width: 100%; }
          .inner-week .week .week-box .week-details a img {
            height: 88px;
            width: 128px;
            margin-right: 5px;
            min-width: 128px; }
          .inner-week .week .week-box .week-details a .week-content {
            background: #f3f3f3;
            font-size: 14px;
            text-align: left;
            color: #000;
            flex-grow: 1;
            padding: 0 5px; }

.inner-datasheets {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0; }
  .inner-datasheets tbody {
    margin: 0 auto; }
  .inner-datasheets td {
    border: 1px solid #000;
    padding: 10px 5px; }

.twitter-inner {
  animation: fade-in-top ease 0.4s forwards;
  animation-delay: 0.6s;
  background: #f6f6f6;
  max-width: 900px;
  margin: 0 auto 25px;
  padding: 5px 0 0; }
  .twitter-inner iframe {
    margin: 0 auto; }

.top-split {
  display: flex;
  animation-delay: 1s; }

.datasheets-inner {
  background: #f9f8f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 10px;
  width: 100%; }

.data-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem; }
  .data-container a {
    color: #4f4940;
    align-self: flex-end;
    font-size: 12px;
    margin-bottom: 2px;
    text-decoration: underline; }
    .data-container a:hover {
      color: #847e71; }
  .data-container li {
    background: #FAFAFA;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 9px 10px;
    width: 100%;
    max-width: 440px; }
    .data-container li:nth-child(odd) {
      background: #e9e7e2; }
    .data-container li:nth-child(even) {
      background: #fff; }
  .data-container .detail__table-title {
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 12px 0; }

.data-country {
  border: 1px solid #000;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
  background: #eee;
  padding: 10px;
  width: 800px; }

.data-info {
  border: 1px solid #ddd;
  margin: 5px;
  flex-grow: 1; }

.data-image {
  display: flex;
  flex: 1;
  justify-content: center; }

.data-pic {
  width: 200px;
  box-sizing: border-box; }

.listItems li:nth-child(-n+3) {
  display: none; }
.listItems li {
  padding: 0; }

.biography {
  text-align: left;
  width: 100%; }
  .biography .biography-text {
    background: #e9e7e2;
    border-radius: 3px;
    border-top: 3px solid #fadb61;
    min-height: 50px;
    margin: 10px;
    padding: 40px; }
    .biography .biography-text h4 {
      margin: 0 0 15px 0; }
    .biography .biography-text p {
      margin: 0; }

.maps {
  border: 0;
  min-height: 496px;
  transition: 100ms;
  width: 50%; }

.leadermap {
  animation: fade-in-top ease 0.4s forwards;
  animation-delay: 1.2s;
  border: 0;
  max-width: 800px;
  height: 100%;
  transition: 0.1s;
  width: 100%; }

#overlay {
  width: 100%;
  height: 100%;
  background: rgba(224, 224, 224, 0.6);
  position: absolute;
  transition: 0.25s; }

.more {
  color: #000; }

.news {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%; }

.inner-news {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  transition: 0.3s; }
  .inner-news h4 {
    align-self: center;
    margin: 0 auto; }
  .inner-news .more-loaded {
    display: none; }

.news-box {
  background: #DDD;
  margin: 0;
  max-width: 420px;
  padding: 10px;
  width: 100%; }
  .news-box:first-child {
    margin-bottom: 10px; }

.news-open {
  cursor: pointer;
  margin: 0 auto 10px;
  max-width: 150px;
  padding: 10px 0;
  text-transform: uppercase;
  transition: 0.1s;
  width: 40%; }

.news-flow {
  align-items: center;
  background: #E9E9E9;
  display: flex;
  margin-bottom: 10px;
  padding: 0; }
  .news-flow div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px; }
    .news-flow div .flow-title {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      height: 35px;
      justify-content: center; }
    .news-flow div .details {
      background: #D9D9D9;
      display: flex;
      font-size: 12px;
      margin-left: -10px;
      padding-left: 10px; }

.flow-link {
  color: #000; }
  .flow-link:hover {
    color: #E94949; }

.contact .contact-details {
  background: #e9e7e2;
  border-radius: 3px;
  border-top: 3px solid #fadb61;
  margin: 50px;
  padding: 30px 15px; }
  .contact .contact-details a {
    color: #4f4940; }
    .contact .contact-details a:hover {
      text-decoration: underline; }

.twitter-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.footer {
  align-items: center;
  background: #26231c;
  border-left: 0;
  box-sizing: border-box;
  color: #ECE8DD;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  justify-content: flex-end;
  height: 160px;
  width: 100%; }

.inner-footer {
  display: flex;
  color: #f7c94a;
  font-size: 11px;
  width: 100%;
  max-width: 900px;
  padding: 0 10px;
  text-align: right;
  justify-content: flex-end;
  flex-direction: column; }

.input-email {
  background: #333;
  border: 1px solid #D7D0C8;
  border-radius: 2px;
  color: #ECE8DD;
  font-size: 14px;
  padding: 5px;
  transition: 150ms; }
  .input-email::placeholder {
    color: #ECE8DD; }
  .input-email:focus {
    background: #D7D0C8;
    color: #000; }
    .input-email:focus::placeholder {
      color: #000; }

.button-submit {
  background: #D7D0C8;
  border: 1px solid #D7D0C8;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  transition: 0.15s; }
  .button-submit:hover {
    background: #999;
    border: 1px solid #999; }
  .button-submit:active {
    background: #D7D0C8;
    border: 1px solid #D7D0C8;
    transition: 0s; }

.news h1 {
  font-size: 24px;
  margin: 1.5em 0; }

.news-story {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 280px;
  overflow: hidden;
  position: relative; }
  .news-story:hover {
    flex-grow: 2; }
    .news-story:hover .news-info-container {
      flex: 1; }
    .news-story:hover .news-text-container {
      display: flex; }

.news-img-container {
  background: #DDD;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  width: 100%; }

.news-info-container {
  flex: 0;
  flex-direction: column;
  font-size: 15px;
  max-height: 280px;
  width: 100%; }

.news-text-container {
  display: none;
  flex: 0;
  flex-direction: column-reverse; }

.news-micro {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0; }

.news-box-micro {
  max-width: 205px;
  padding: 10px 6.66px 10px; }
  .news-box-micro:nth-child(4n + 1) {
    padding-left: 10px; }
  .news-box-micro:nth-child(4n) {
    padding-right: 10px; }
  .news-box-micro:last-child {
    padding-right: 10px; }

.article {
  font-size: 13px;
  overflow: hidden;
  max-height: 80px;
  text-align: left;
  color: #000;
  width: 100%; }
  .article:hover .article-image {
    z-index: 1; }

.article-image {
  height: 280px;
  width: 420px;
  width: 100%; }

.article-link {
  display: grid; }

.article-link-headline {
  align-items: center;
  background: #666;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 13px;
  height: auto;
  padding: 7px 10px;
  text-decoration: none;
  width: 100%; }

.article-link-go {
  align-items: center;
  background: #333;
  border: 1px solid #333;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: auto;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.1s; }
  .article-link-go:hover {
    background: #fff;
    color: #000;
    text-decoration: underline; }

.headline {
  color: #000;
  font-family: "Titiliium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  text-transform: capitalize;
  vertical-align: middle; }
  .headline:hover {
    color: #666; }

.article-author-date {
  background: #E8E8E8;
  font-size: 11px;
  padding: 10px;
  display: flex;
  justify-content: space-between; }

.article-text {
  align-items: center;
  background: #F0F0F0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: 77px;
  overflow: hidden;
  padding: 10px; }

.time {
  white-space: nowrap;
  overflow: hidden; }

.country-detail {
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column; }

.country-map {
  background: #C7D8EC;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top: 10px; }
  .country-map img {
    height: auto;
    max-height: 220px;
    max-width: 300px;
    padding: 10px; }
  .country-map li {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    text-transform: capitalize; }

.country-list {
  display: flex;
  flex-direction: column;
  margin: 10px; }

.country-entries {
  background: #EEE;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  list-style: none;
  text-align: left; }
  .country-entries li {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between; }
    .country-entries li:nth-child(2n+1) {
      background: #e9e7e2; }
    .country-entries li:nth-child(2n+2) {
      background: #f9f8f6; }
  .country-entries .country__table-title {
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 10px; }
  .country-entries:nth-child(even) {
    text-align: right; }
    .country-entries:nth-child(even) li:nth-child(2n+1) {
      background: #CCC; }
    .country-entries:nth-child(even) li:nth-child(2n+2) {
      background: #DDD; }

.others {
  align-items: center;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100%; }
  .others img {
    max-height: 46px;
    width: auto; }
  .others div {
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
    width: 100%; }
    .others div:first-child {
      display: none; }
    .others div:hover {
      background: #DDD; }
      .others div:hover img.othersArrow {
        background: #BBB;
        padding: 12px;
        transition: 0.2s;
        width: 50px; }
    .others div span {
      font-size: 12px;
      color: #000;
      text-transform: uppercase;
      margin: 0 5px;
      padding: 5px 10px; }
    .others div a {
      align-items: center;
      background: #EEE;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      text-decoration: none;
      padding: 0;
      width: 100%; }
    .others div:last-child {
      justify-content: flex-end; }

img.othersArrow {
  align-self: center;
  background: #CCC;
  height: 22px;
  margin: 0;
  padding: 12px;
  transition: 200ms;
  width: 22px; }

/******************************************************** */
/******************************************************** */
/******************** DESKTOP STYLES ******************** */
/******************************************************** */
/******************************************************** */
@media (min-width: 960px) {
  .container {
    display: grid;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    grid-template-columns: 15% auto;
    margin: 0 auto; }

  .sidebar {
    display: block; }

  .sidebar-content {
    display: block; }

  .main {
    margin: 30px 15px 30px 0; }

  .header {
    height: 50px; }

  a.header__menu-link {
    display: none; }

  .home__content {
    max-width: 1120px; }

  .datasheets-inner {
    flex-direction: row-reverse; }

  .data-container {
    justify-content: flex-start; }

  .grid-sort {
    flex-direction: row;
    margin: 50px auto 0; }
    .grid-sort ul {
      flex-direction: row; }

  .news-box:first-child {
    margin-bottom: 0; }

  .news-box {
    background: #DDD;
    max-width: 415px;
    margin: 0 0 0 5px;
    padding: 10px;
    width: 100%; }
    .news-box:first-child {
      margin: 0 5px 0 0; }

  .menu__grid-sort {
    border-radius: 5px; }
    .menu__grid-sort ul li:first-child.active, .menu__grid-sort ul li:first-child:hover {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .menu__grid-sort ul li:last-child.active, .menu__grid-sort ul li:last-child:hover {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

  .country-map {
    margin: 0; }

  .home-hero {
    margin: 10px auto 0; }

  .featured {
    margin-bottom: 10px; }
    .featured:last-child {
      margin-bottom: 0; }

  .featured-layout {
    flex-direction: row; }

  .featured-details {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 200px; }

  .featured-details-items {
    flex-direction: row; }

  .featured-news ul {
    flex-direction: row; }

  .country-list {
    flex-direction: row; }
    .country-list ul:first-child {
      margin-right: 10px; }

  .others {
    flex-direction: row; }
    .others div:first-child {
      display: block;
      margin-right: 10px; }

  .summits-list {
    flex-direction: row; } }

/*# sourceMappingURL=app.css.map */
