@font-face
  font-family: system
  font-style: normal
  font-weight: 300
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma")

*
  font-family: system, sans-serif

input,
button 
  outline: none
  color: #fff

*::-webkit-input-placeholder
  color: #fff

html, body, #root
  margin: 0
  height: 100%
  width: 100%
  padding: 0

body
  background: #fff
  overflow: hidden /* Scrolling added to sidebar/content */
  display: flex

.hide
  display: none

hr
  border: 0
  background: #000
  background-image: linear-gradient(to right, #ccc, #222, #ccc)
  height: 1px

.App
  text-align: center
  display: flex
  flex-direction: column
  height: 100%

.globeIcon
  height: 30px
  width: 30px

.top-logo 
  width: 30px
  height: 30px

.title
  align-content: center
  color: #000
  display: flex
  align-items: center
  margin: 0
  padding: 5px

.title-link
  text-decoration: none

.App-logo
  height: 30px
  padding: 10px 5px
  transition-delay: 0.2s
  transition: .2s

.App-header
  display: flex
  flex-direction: column
  color: #ffa14e
  min-height: 42px
  width: 100%
  overflow: hidden
  a
    color: #000
  .copy
    padding: 16px 0
    width: 100%
    font-size: 13px
    margin: 0 auto
    min-width: 140px
    color: #fff
  .logo-wrap
    align-items: center
    border-bottom: 1px solid #eee
    display: flex
    flex-shrink: 0
    justify-content: space-between
    line-height: 48px
    padding: 0 15px
    transition: .15s
    &:hover
      border-bottom: 1px solid #ccc
      transition: .3s
  .nav-wrap
    background: #333
    position: fixed
    width: 100%
    top: 59px
    z-index: 5
    .inner-header
      display: flex
      max-width: 760px
      margin: 0 auto
      transition: 0.15s ease-in
      .nav-links
        ul
          display: flex
          width: 190px
          li
            min-width: 190px
            background: #bbb
            justify-content: left
            a
              color: #000
              width: 100%
              &:hover
                background: #999
  ul
    padding: 0
    margin: 0
    display: flex
    justify-content: left
    flex-wrap: wrap
    list-style: none
    li
      justify-content: center
      align-items: center
      text-decoration: none
      box-sizing: border-box
      background: #555
      display: flex
      a
        text-decoration: none
        font-size: 14px
        display: flex
        justify-content: left
        padding: 0
        align-items: center
        img
          max-height: 50px
          width: 50px
        &:hover
          background: #333
  &:hover
    transition: .1s
    transition-delay: .2s
    .copy
      transition: 0.2s
    li .sidelink-text
      transition-delay: .25s


.active,
.App-header .active
  color: #fff
  background: #333

.App-header .active:hover
  background: #222
  color: #fff

.show
  display: block
  opacity: 1
  height: 151px
  visibility: visible

.hidden
  opacity: 0
  visibility: hidden

.fadeIn
  display: block
  background: #0f0

.sidelink-text
  visibility: hidden
  display: none
  transition: .5s

.nav-sidenav
  display: flex
  flex-direction: column
  transition: .3s
  li
    a
      img
        height: 50px

.button-menu
  background: #fff
  border: 0
  display: block
  padding: 0
  cursor: pointer

.open-menu
  padding: 3px 5px 2px

.close-menu
  padding: 3px 5px 2px

.App-intro
  flex: 1
  height: 100%
  transition: 0.2s /* Must match App-header */
  overflow-y: auto
  padding-top: 30px
  position: relative
  transition-delay: 0.4s /* Must match App-header */

.img-size
  width: 15px
  height: 15px
  padding: 5px 0
 
.top-nav
  color: #333
  border-bottom: 1px solid #ddd
  display: flex
  flex-direction: row
  margin: 00px auto
  width: 100%
  .active
    background: rgba(0,0,0,1)
    color: #fff
  a
    color: #000
    display: block
    padding: 0px 28px
    text-decoration: none
    text-transform: uppercase
    width: 160px
    &:hover
      background: rgba(0,0,0,.1)
  .active:hover
    background: #000
    color: #ffa500

.top-icon
  height: 60px
  text-align: left
  width: 50px

.top-leader
  height: 60px
  max-height: 60px

.banner-text
  color: #000
  font-size: 16px
  line-height: 40px
  margin: 0
  align-text: center

.top-flag
  background: #fff
  height: 60px
  position: relative
  width: 120px
  img
    border: 1px solid #eee
    border-bottom: 0
    box-sizing: border-box
    float: right
    height: 100%
    max-width: 120px

.top-title
  border-top: 2px solid #ddd
  border-bottom: 2px solid #ddd
  box-sizing: border-box
  font-size: 12px
  min-width: 280px
  padding: 5px
  margin: 0 25px
  position: relative
  text-transform: uppercase
  white-space: nowrap

.top-content
  background: #f3f3f3
  position: relative
  width: 100%

.top-banner
  align-items: center
  background: #fff
  display: flex
  flex-direction: row
  flex-grow: 1

.contentBox
  align-items: center
  display: flex
  flex-direction: column

.content-box-links
  align-items: center
  background: #fff
  display: flex
  flex-grow: 0
  flex-wrap: nowrap
  font-family: sans-serif
  font-size: 12px
  justify-content: center
  line-height: 40px
  overflow-x: auto

.content
  align-items: center
  background: #fff
  display: flex
  flex-direction: column
  width: 100%

.inner-content
  height: auto
  background: #f6f6f6
  margin: 0px 20px 40px
  max-width: 1200px
  box-sizing: border-box

.img-highlight
  padding: 20px
  width: 280px
  display: flex
  flex-direction: column
  align-items: center
  .img-highlight-leader
    width: 100%
    position: relative
    .img-highlight-image
      position: relative
      z-index: 1
      height: 282px
      max-width: 200px
    &::after
      background: #ddd
      display: block
      height: 25%
      width: 100%
      content: ""
      position: absolute
      top: 75%
  .img-highlight-text
    background: #ddd
    width: 100%
    p
      color: #000
      font-size: 16px
      font-weight: bold
      line-height: .66em

.home
  display: flex
  flex-direction: column
  height: 100%

.inner-home
  background: #fff
  border: 1px solid #000
  flex: 1
  margin: 50px auto
  width: 800px
  p
    background: #eee
    border: 1px solid #000
    color: #000
    margin: 0 auto
    max-width: 50%
    padding: 10px
    text-align: left
  ul
    list-style: square
    li
      text-align: left
      padding: 10px 0

.inner-datasheets
  width: auto
  display: flex
  justify-content: space-between
  padding: 20px 0
  tbody
    margin: 0 auto
  td
    border: 1px solid #000
    padding: 10px 5px

.inner-maps
  margin: 0 auto
  width: 66%
  position: relative

.inner-more
  height: auto
  border-top: 1px solid #000
  padding: 20px 0

#schedule
  display: flex
  justify-content: space-between

.inner-schedule
  display: flex
  flex-direction: column
  height: auto
  margin: 0 5px
  width: 375px
  .scheduleHeader
    background: #f6f6f6
    border: 1px solid #000
    border-bottom: 0
    div
      line-height: 40px
      padding: 0 5px
      display: inline-block
      cursor: pointer
      min-width: 100px
      &:hover
        background: #eee
    .monthBox
      &:hover
        background: none
        cursor: default
  .scheduleBox
    background: #FFF
    border: 1px solid #000
    padding: 5px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    ul
      margin: 0
      list-style: none
      padding: 0
      width: 100%
      .dayBox
        display: flex
        flex-direction: row
        width: 100%
        .dateBox
          background: #fafafa
          border: 1px solid #000
          align-items: center
          margin: 5px 0
          justify-content: center
          flex-direction: column
          display: flex
          width: 70px
          height: 70px
          font-size: 24px
          font-weight: 200
          .monthBox
            font-size: 12px
            margin-bottom: 4px
        .eventBox
          border: 1px solid #EEE
          margin: 5px
          padding: 5px
          display: flex
          align-items: center
          flex-grow: 1
          overflow: hidden
          &:hover
            background: #F3F3F3
            cursor: pointer

.top-split
  display: flex

#news
  margin-top: 20px

.datasheetsInner
  display: flex
  flex-direction: column
  padding: 0 0 5px
  max-width: 400px

.data-point
  background: #fff
  border: 1px solid #ddd
  box-sizing: border-box
  display: flex
  justify-content: space-between
  margin: 5px
  padding: 10px
  width: 100%
  max-width: 350px
  span
    color: #222

.data-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  font-size: 14px
  justify-content: center

.data-country
  border: 1px solid #000
  flex-grow: 1
  font-size: 18px
  font-weight: 400
  background: #eee
  padding: 10px
  width: 800px

.data-info
  border: 1px solid #ddd
  margin: 5px
  flex-grow: 1

.data-image
  display: flex
  justify-content: center
  padding: 0 5px

.data-pic
  width: 200px
  box-sizing: border-box

.maps
  border: 0
  max-width: 1000px
  height: 440px
  width: 100%

#overlay
  width: 100%
  height: 100%
  background: rgba(224,224,224,.6)
  position: absolute
  transition: .25s

.more
  color: #000

.inner-news
  display: flex
  flex-wrap: wrap
  height: auto
  padding: 38px 0 10px
  h4
    align-self: center
    margin: 0 auto

.footer
  background: #2c2c2c
  width: 100%
  box-sizing: border-box
  display: flex
  border-left: 0
  align-items: center
  justify-content: center
  color: #fff
  min-height: 300px
  a
    color: #fff
    padding: 5px 0
    margin: 1px 0
    width: 50%
    font-size: 12px
    text-align: left
    transition: .25s
    text-decoration: none
    &:hover
      border-radius: 5px
      color: #FAA
  h3
    color: #777
    font-weight: 900
    font-family: arial, sans-serif
    margin: 5px 0
    padding: 0
    cursor: default
    text-transform: uppercase
    width: 50%
    text-align: left
    font-size: 13px


.inner-footer
  display: flex
  width: 100%
  max-width: 1200px
  justify-content: space-between
  flex-direction: row

.input-email
  background: #333
  border: 1px solid #CCC
  border-radius: 2px
  color: #fff
  padding: 5px
  transition: .25s
  &:focus
    border: 1px solid #C87
    background: #222

.button-submit
  background: #333
  border: 1px solid #CCC
  margin: 5px
  padding: 5px
  border-radius: 2px
  transition: .25s
  &:active
    border: 1px solid #FAA
    background: #000
    color: #FAA
    transition: 0s
  &:hover
    background: #333

.news-box
  width: 50%

.topNews
  margin: 10px 0

.news-story
  border-bottom: 1px solid #ccc
  padding: 0 0 5px 0
  box-sizing: border-box
  margin: 0 5px 10px 5px
  display: flex

.news-img-container
  height: auto
  width: 200px
  overflow: hidden

.news-info-container
  max-height: 250px
  width: 100%
  margin-left: 5px

.international-news
  img
    height: 100%
    max-height: 212px
    max-width: 850px
    width: 100%

.article
  font-size: 12px
  text-align: left
  height: 60px

.article-image
  max-width: 150px
  height: 125px
  width: 100%

.article-link
  display: grid

.article-link-headline
  width: 100%
  text-decoration: none
  padding: 3px
  min-height: 42px
  box-sizing: border-box
  overflow: hidden
  display: block

.article-link-go
  background: #333
  color: #fff
  display: flex
  align-items: center
  transition: .1s
  padding: 5px 10px
  margin: 0 5px
  box-sizing: border-box
  height: auto
  border: 1px solid #333
  text-decoration: none
  &:hover
    text-decoration: underline
    background: #fff
    color: #000


.headline
  color: #000
  font-size: 12px
  text-transform: uppercase
  &:hover
    color: #666

.article-author-date
  background: #ccc
  font-size: 11px
  padding: 5px
  display: flex
  justify-content: space-between

.article-text
  overflow: hidden
  justify-content: space-between
  display: flex
  margin: 3px
  box-sizing: border-box
  align-items: center

.article
  color: #000

.time
  max-width: 61px
  white-space: nowrap
  overflow: hidden

.others
  align-items: center
  border-top: 1px solid #000
  display: flex
  margin-top: 10px
  justify-content: space-between
  width: 100%
  img
    height: 100%
    max-width: 60px
    width: auto
  div
    box-sizing: border-box
    display: flex
    padding: 20px
    padding-left: 10px
    transition: .2s
    width: auto
    a
      display: flex
      max-height: 40px
      width: 100%
      width: 84px
    &:hover
      background: #DDD
    &:last-child
      justify-content: flex-end
      padding-left: 20px
      padding-right: 10px

.footer-column
  flex: 1
  flex-direction: column
  display: flex

.footer-last
  flex-grow: 2
  font-size: 12px
  color: #fff
  text-align: right

/*************************/
/*************************/
/****** Mobile SASS ******/
/*************************/
/*************************/

@media (max-width: 1200px)

  body
    overflow: auto
 
  h2
    font-size: 1.1em
 
  .logo-wrap
    line-height: 10px

  .App-header
    .copy
      font-size: 11px
      min-width: auto
    .nav-wrap
      .inner-header
        .nav-links
          ul
            width: 100%
            li
              min-width: 0
    &:hover
      width: 100%
      max-width: 100%
    ul
      li
        a
          font-size: 11px
          width: 100%
    li
      background: #222
      border: 1px solid #000
      width: 50%
      a
        line-height: 8px
        padding: 0
        &:hover
          background: #222
          color: #fff
    .copy
      visibility: visible
      opacity: 1
      padding: 0 10px
      width: 100%
      text-align: left
 
  .inner-header
    flex-direction: column

  .show
    display: block
    opacity: 1
    height: 342px
    visibility: visible

  .img-size
    background: #eee
 
  .about
    line-height: 18px
    margin: 0
 
  .about:hover
    background: #222
 
  .active,
  .App-header .active
    color: #fff
    background: #444
 
  .App-header .active:hover
    background: #444
    color: #fff
 
  .none
    display: none

  .title
    font-size: 14px

  .open-menu
    height: 16px

  .close-menu
    height: 16px

  .top-nav
    height: auto
    flex-direction: row
    a
      height: auto
      font-size: 9px
      padding: 0 1px
      width: 100%
 
  .top-banner
    align-items: center
    flex-direction: row
    height: 40px
    justify-content: center
 
  .top-icon
    height: 40px
    width: 100%

  .top-flag
    width: auto
    display: none
    align-items: center
    height: 100%
    box-sizing: border-box
    padding: 5px
    border-left: 1px solid #000
    img
      height: 35px
      width: 50px
 
  .top-leader
    height: 100%
    padding: 0
 
  .top-title
    width: auto
    top: auto
    min-width: auto
    font-size: 9px
    height: auto
    margin: 0 5px
    padding: 0
    left: auto
    line-height: 2em
 
  .data-sheets
    flex-direction: column

  .data-point span
    font-size: 12px

  .data-image
    width: auto
 
  .img-highlight
    margin: 0 auto

  .data-pic
    width: auto
 
  .inner-content
    width: 100%
    margin: 0
 
  .inner-datasheets
    width: auto
    td
      padding: 5px 2px
      font-size: 14px

  #schedule
    flex-direction: column

  .inner-maps
    width: 100%

  .inner-schedule
    font-size: 12px
    margin: 0 auto 10px
    width: auto
    .scheduleHeader
      div
        min-width: 90px
    .scheduleBox
      font-size: 11px
      padding: 0 5px
      margin: 0 auto
      .dayBox
        .dateBox
          width: 50px
          height: 50px
          font-size: 20px

  .inner-home
    width: 96%
 
  .news-box
    width: 100%

  .news-story
    align-items: center
    flex-direction: column
    margin: 10px auto
    max-width: 250px
    overflow: hidden
    padding: 0
    width: 80%

  .news-img-container
    width: 100%
    position: relative
    &::after
      background: #ddd
      content: ""
      display: block
      height: 25%
      left: 0
      position: absolute
      top: 75%
      width: 100%

  .news-info-container
    background: #ddd
    margin: 0

  .article
    font-size: 11px
    padding: 10px
 
  .article-image
    margin: 0 auto
    z-index: 1

  .article-link
    width: 125px
    margin: 0 auto

  .article-author-date
    font-size: 10px
 
  .article-link-headline
    font-size: 12px
    padding: 9px 3px

  .time
    display: none
 
  .content-box-links
    width: 100%
    position: relative
    top: auto

  .top-split
    flex-direction: column

  .data-country
    width: auto
 
  .maps
    height: 220px
    width: 94%
 
  .inner-footer
    flex-direction: row
    flex-wrap: wrap
    height: auto
    margin: 0 auto
    width: 90%
 
  .footer
    height: auto
    .footer-middle
      h3
        text-align: right
 
  .footer a
    font-size: 14px

  .footer-column
    align-self: center
    padding: 20px 0
  
  .footer-middle
    align-items: flex-end
    a
      text-align: right
    
  .footer-last
    align-self: flex-start
    text-align: center
    flex-basis: 100%