/*** FONT-FACE ***/
@font-face
  font-family: system
  font-style: normal
  font-weight: 300
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma")
/*** FONT-FACE ***/

/*** KEYFRAMES ***/
@keyframes fade-in-right 
  from
    opacity: 0
    transform: translateX(-15px)
  to
    opacity: 1
    transform: translateX(0)

@keyframes fade-in-top 
  from
    opacity: 0
    transform: translateY(15px)
  to
    opacity: 1
    transform: translateY(0)

@keyframes fade-in-bottom
  from
    opacity: 0
    transform: translateY(0)
  to
    opacity: 1
    transform: translateY(0)
/*** KEYFRAMES ***/

/*** VARIABLES ***/
$ivory: #ECE8DD
$ivory-dark: #D4D0C6
$crimson: #C45C4F
/*** VARIABLES ***/

/** MAIN STYLES **/
*
  font-family: system, sans-serif

input,
button 
  outline: none
  color: #fff

*::-webkit-input-placeholder
  color: #fff

html, body, #root
  height: 100%
  margin: 0
  padding: 0
  width: 100%

body
  background: $ivory
  display: flex
  overflow: hidden /* Scrolling added to sidebar/content */

.hide
  display: none

hr
  border: 0
  background: #000
  background-image: linear-gradient(to right, #ccc, #222, #ccc)
  height: 1px

.App
  display: flex
  flex-direction: column
  height: 100%
  text-align: center

.globeIcon
  height: 30px
  width: 30px

.top-logo 
  height: 30px
  width: 30px

.title
  align-content: center
  align-items: center
  color: #000
  font-size: 14px
  display: flex
  margin: 0
  padding: 5px

.title-link
  text-decoration: none

.App-logo
  height: 30px
  padding: 10px 5px
  transition-delay: 0.2s
  transition: .2s

.App-header
  color: #ffa14e
  display: flex
  flex-direction: column
  min-height: 33px
  overflow: hidden
  width: 100%
  a
    color: #000
  .copy
    border: 1px solid #333
    border-bottom: 0
    box-sizing: border-box
    color: #000000
    display: flex
    flex-direction: column
    font-size: 13px
    justify-content: center
    margin: 0 auto
    min-width: 140px
    height: 50px // Works with 2px padding
    padding: 0
    width: 100%
    span
      font-size: 10px
      margin: 0 auto
      max-width: 136px
  .logo-wrap
    align-items: stretch
    display: flex
    flex-shrink: 0
    justify-content: space-between
    line-height: 48px
    padding: 0 15px
    transition: .15s
    .navbar
      display: flex
      align-items: stretch
      flex-grow: 1
      justify-content: flex-end
  .nav-wrap
    background: #333
    top: 59px
    width: 100%
    .inner-header
      border-bottom: 1px solid #333333
      border-top: 1px solid #333333
      display: flex
      margin: 0 auto
      max-width: 761px
      transition: 0.15s ease-in
      .nav-links
        cursor: pointer
        background: #BBB
        border-left: 1px solid #333333
        transition: .3s
        ul
          display: flex
          width: 190px
          li
            background: #bbb
            justify-content: left
            min-width: 190px
            border-bottom: 1px solid #333
            a
              color: #000
              width: 100%
              height: 22px
              &:hover
                background: #999
            &:first-child
              background: #A9A69E
              cursor: default
              height: 51px
              a 
                height: 100%
                &:hover
                  background: #A9A69E
            &:nth-child(2)
              height: 34px
              a
                height: 100%
            &:last-child
              border-bottom: 1px solid #bbb
              &:hover
                border-bottom: 1px solid #999

  ul
    display: flex
    padding: 0
    margin: 0
    justify-content: left
    flex-wrap: wrap
    list-style: none
    li
      justify-content: center
      align-items: center
      text-decoration: none
      box-sizing: border-box
      background: $ivory-dark
      display: flex
      a
        text-decoration: none
        font-size: 13px
        display: flex
        justify-content: left
        padding: 0
        align-items: center
        img
          border-top: 1px solid #333
          box-sizing: border-box
          max-height: 50px
          min-width: 50px
          width: 50px
        .img-size
          border: 0
          box-sizing: content-box
          width: 15px
          height: 15px
          padding: 3px 0
        &:hover
          background: #A9A69E
  &:hover
    transition: .1s
    transition-delay: .2s
    .copy
      transition: 0.2s
    li .sidelink-text
      transition-delay: .25s

.active,
.App-header .active
  background: #e2e2e2

.App-header .active:hover
  background: #AAAAAA

.international-news
  animation: fade-in-bottom ease 0.4s forwards
  animation-delay: 0s
  max-height: 212px
  img
    display: block
    min-height: 100%
    max-width: 900px
    width: 100%

.show
  opacity: 1
  max-height: 451px
  transition: .4s
  visibility: visible

.hidden
  max-height: 0
  opacity: .4
  transition: .2s
  visibility: hidden

.fadeIn
  display: block
  background: #0f0

.sidelink-text
  visibility: hidden
  display: none
  transition: .5s

.nav-sidenav
  display: flex
  flex-direction: column
  transition: .3s
  ul
    div
      width: 100%
      ul
        li
          &:nth-child(-n+3)
            a
              img
                border-top: 0
              .copy
                border-top: 0
          &:nth-child(3n)
            a
              .copy
                border-right: 0
  li
    a
      img
        height: 50px

.button-menu
  background: $ivory
  border: 0
  display: block
  padding: 0
  cursor: pointer
  transition: .5s

.open-menu
  padding: 3px 5px 2px

.close-menu
  padding: 3px 5px 2px

.App-intro
  background: #FFFFFF
  flex: 1
  height: 100%
  transition: 0.2s /* Must match App-header */
  overflow-y: auto
  position: relative
  transition-delay: 0.4s /* Must match App-header */
 
.top-nav
  color: #333
  display: flex
  flex-direction: row
  margin: 00px auto
  width: 100%
  .active
    background: rgba(0,0,0,1)
    color: #fff
  a
    color: #000
    display: block
    padding: 0px 28px
    text-decoration: none
    text-transform: uppercase
    width: 160px
    &:hover
      background: rgba(0,0,0,.1)
  .active:hover
    background: #000
    color: #ffa500

.top-icon
  height: 60px
  text-align: left
  width: 50px

.top-leader
  animation: fade-in-right ease 0.4s forwards
  animation-delay: 0.4s
  opacity: 0
  height: 60px
  max-height: 60px

.banner-text
  color: #000
  font-size: 16px
  line-height: 40px
  margin: 0
  align-text: center

.top-flag
  background: #fff
  height: 60px
  position: relative
  width: 120px
  img
    animation: fade-in-right ease 0.4s forwards
    animation-delay: .8s
    opacity: 0
    border-left: 1px solid #DDD
    box-sizing: border-box
    float: right
    height: 100%
    max-width: 120px

.top-title
  animation: fade-in-right 0.4s forwards
  animation-delay: 0.4s
  transform: scaleX(0)
  transform-origin: left
  border-top: 2px solid #ddd
  border-bottom: 2px solid #ddd
  box-sizing: border-box
  font-size: 12px
  min-width: 280px
  padding: 5px
  margin: 0 25px
  position: relative
  text-transform: uppercase
  white-space: nowrap

.top-content
  background: #fff
  position: relative
  width: 100%

.top-banner
  align-items: center
  background: #fff
  display: flex
  flex-direction: row
  flex-grow: 1

.featuredBox
  animation: fade-in-top .3s ease forwards
  animation-delay: .8s
  opacity: 0
  border: 1px solid $ivory-dark
  box-sizing: border-box
  margin: 30px auto
  max-width: 800px
  width: 96%
  .featured-nation
    background: #f6f6f6
    flex-direction: row
    display: flex
    justify-content: center
    padding: 0 5px
    h3
      margin: 0
      padding: 16px 0
  .featuredEvents
    display: flex
    justify-content: space-between
    padding: 5px
    .featuredDetails
      width: 100%
      display: flex
      ul
        background: #f6f6f6
        list-style: none
        display: flex
        height: 100%
        flex-direction: column
        padding: 0px
        margin: 0px
        margin-left: 5px
        h4
          margin: 0
          padding: 10px 0
          border-bottom: 1px solid #ccc
        li
          text-align: left
          padding: 5px
          font-size: 14px
          a
            color: #000
            &:hover
              color: #777
      .featuredTitle
        background: #f6f6f6
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        margin: 0px
        img
          max-width: 168px
          padding: 10px
        h3
          display: flex
          font-size: 15px
          margin: 5px 0
          flex-grow: 1
          align-items: center
          &:last-child
            padding-bottom: 20px
      div
        max-width: 200px
        a
          padding: 5px
          button
            border: 1px solid #aaa
            background: $ivory
            color: #000
            font-size: 12px
            margin: 10px auto
            padding: 10px 15px
            transition: .3s
            &:hover
              background: #ccc
              cursor: pointer
      .featuredStats
        margin-left: 5px
        background: #f6f6f6
        display: flex
        flex-direction: column
        justify-content: space-between
        .featured-flag
          height: 75px
          margin: 0 auto
          max-width: 100px
          min-height: auto
        h4
          margin: 0
          padding: 10px 0
          border-bottom: 1px solid #ccc
        ul
          height: auto
          padding: 0
          margin: 0
          li
            text-align: center
            &:nth-child(even)
              background: #FFF
            &:last-child
              border-bottom: 1px solid #ccc
    img
      max-width: 188px
      min-height: 200px
  .featuredMore
    display: flex
    justify-content: center
    align-items: center


.contentBox
  align-items: center
  display: flex
  flex-direction: column

.content-box-links
  animation: fade-in-right ease 0.4s forwards
  animation-delay: 0.6s
  opacity: 0
  align-items: center
  background: #fff
  display: flex
  flex-grow: 0
  flex-wrap: nowrap
  font-family: sans-serif
  font-size: 12px
  justify-content: center
  line-height: 60px
  overflow-x: auto

.content
  align-items: center
  background: #fff
  display: flex
  flex-direction: column
  width: 100%

.inner-content
  box-sizing: border-box
  height: auto
  margin: 0px 20px 40px
  max-width: 900px

.img-highlight
  padding: 20px
  width: 280px
  display: flex
  flex-direction: column
  align-items: center
  .img-highlight-leader
    width: 100%
    position: relative
    .img-highlight-image
      position: relative
      z-index: 1
      height: 282px
      max-width: 200px
    &::after
      background: #ddd
      display: block
      height: 25%
      width: 100%
      content: ""
      position: absolute
      top: 75%
  .img-highlight-text
    background: #ddd
    width: 100%
    p
      color: #000
      font-size: 16px
      font-weight: bold
      line-height: .66em

.home
  display: flex
  flex-direction: column

.inner-home
  background: #ECE8DD
  border-bottom: 1px solid $ivory-dark
  margin: 0 auto 30px
  padding: 50px 0
  width: 100%
  h1
    font-size: 38px
    font-family: 'Arvo', cursive
    margin: 5px 0
  .home-action
    animation: fade-in-top .3s ease forwards
    animation-delay: 0.1s
    opacity: 0
    max-width: 600px
    margin: 0 auto 50px
    width: 96%
    h3
      animation: fade-in-top .3s ease forwards
      animation-delay: 0.3s
      max-width: 450px
      margin: 0 auto
      opacity: 0

.home-image
  margin: 0 auto
  max-width: 240px
  
.week
  animation: fade-in-top .3s ease forwards
  animation-delay: 0.5s
  opacity: 0
  margin: 0 auto
  max-width: 790px
  display: flex
  flex-wrap: wrap
  .week-box
    align-items: center
    border: 1px solid $ivory-dark
    box-sizing: border-box
    display: flex
    height: 150px
    flex-direction: column
    overflow: hidden
    width: 160px
    margin: 5px auto
    position: relative
    .week-title
      border-bottom: 1px solid $ivory-dark
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 100%
      height: 45px
      overflow: hidden
      .week-day
        align-items: center
        display: flex
        justify-content: center
        flex-grow: 1
      .week-date
        background: $ivory-dark
        border-bottom: 1px solid $ivory-dark
        border-left: 1px solid $ivory-dark
        color: #FFFFFF
        display: flex
        flex-direction: column
        font-size: 20px
        justify-content: space-around
        width: 60px
        span
          font-size: 12px
    .week-details
      background: #e2e2e2
      flex-grow: 1
      padding: 5px
      width: 100%
  .week-header
    border: 0
    font-size: 28px
    display: flex
    justify-content: center


.inner-datasheets
  width: auto
  display: flex
  justify-content: space-between
  padding: 20px 0
  tbody
    margin: 0 auto
  td
    border: 1px solid #000
    padding: 10px 5px

.inner-maps
  margin: 0 auto
  width: 66%
  position: relative

.inner-more
  height: auto
  padding: 0px 0

.schedule
  border-top: 1px solid #ddd
  display: flex
  justify-content: space-between
  padding: 30px 0

.inner-schedule
  display: flex
  flex-direction: column
  height: auto
  margin: 0 5px 0 0
  width: 320px
  .scheduleHeader
    background: #f6f6f6
    border: 1px solid #ddd
    border-bottom: 0
    div
      line-height: 40px
      padding: 0 5px
      display: inline-block
      cursor: pointer
      min-width: 100px
      &:hover
        background: #eee
    .monthBox
      &:hover
        background: none
        cursor: default
  .scheduleBox
    background: #FFF
    border: 1px solid #ddd
    padding: 5px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    ul
      margin: 0
      list-style: none
      padding: 0
      width: 100%
      .dayBox
        display: flex
        flex-direction: row
        align-items: center
        width: 100%
        .dateBox
          background: #fafafa
          border: 1px solid $ivory-dark
          align-items: center
          margin: 5px 0
          justify-content: center
          flex-direction: column
          display: flex
          width: 70px
          height: 70px
          font-size: 24px
          font-weight: 200
          .monthBox
            font-size: 12px
            margin-bottom: 4px
        .eventBox
          border: 1px solid #EEE
          font-size: 12px
          flex-direction: column
          justify-content: space-between
          margin: 5px
          display: flex
          align-items: center
          flex-grow: 1
          overflow: hidden
          p
            padding: 5px
          span
            background: #F6F6F6
            width: 100%
          &:hover
            background: #F3F3F3
            cursor: pointer

.top-split
  background: #F6F6F6
  border-top: 1px solid #DDD
  display: flex
  animation: fade-in-top ease 0.4s forwards
  animation-delay: 1s
  opacity: 0

.datasheetsInner
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 0 0 5px
  max-width: 400px

.data-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  font-size: 14px
  justify-content: center

  .data-point
    background: #FAFAFA
    border: 1px solid #F6F6F6
    box-sizing: border-box
    display: flex
    justify-content: space-between
    margin: 0 5px
    padding: 5px
    width: 100%
    max-width: 350px
    &:nth-child(even)
      background: #EEEEEE
    span
      color: #222

.data-country
  border: 1px solid #000
  flex-grow: 1
  font-size: 18px
  font-weight: 400
  background: #eee
  padding: 10px
  width: 800px

.data-info
  border: 1px solid #ddd
  margin: 5px
  flex-grow: 1

.data-image
  display: flex
  justify-content: center
  padding: 0 5px

.data-pic
  width: 200px
  box-sizing: border-box

.maps
  border: 0
  max-width: 1000px
  height: 296px
  width: 100%

#overlay
  width: 100%
  height: 100%
  background: rgba(224,224,224,.6)
  position: absolute
  transition: .25s

.more
  color: #000

.inner-news
  display: flex
  flex-wrap: wrap
  align-content: flex-start
  height: 530px
  overflow: hidden
  transition: .3s
  h4
    align-self: center
    margin: 0 auto
  .more-loaded
    display: none
  .news-box
    width: 100%
    &:nth-child(even)
      .news-story
        .news-img-container
          flex-direction: row-reverse

.news-open
  background: #eeeeee
  border: 1px solid #333
  cursor: pointer
  padding: 10px 0
  width: 40%
  transition: .2s
  margin: 20px auto
  &:hover
    background: #DDD

.contact
  background: $ivory
  height: 100%
  .contact-details
    padding: 200px 0 300px

.footer
  background: #2c2c2c
  width: 100%
  box-sizing: border-box
  display: flex
  flex-direction: column
  border-left: 0
  align-items: center
  justify-content: center
  color: #fff
  min-height: 300px
  a
    color: #fff
    padding: 5px 0
    margin: 1px 10px 0 0
    font-size: 12px
    text-align: left
    transition: .25s
    text-decoration: none
    &:hover
      border-radius: 5px
      color: $ivory-dark
  h3
    color: #777
    font-weight: 900
    font-family: arial, sans-serif
    margin: 5px 0
    padding: 0
    cursor: default
    text-transform: uppercase
    text-align: left
    font-size: 13px

.footer-links
  display: flex
  flex-grow: 1


.inner-footer
  display: flex
  width: 100%
  max-width: 900px
  justify-content: space-between
  flex-direction: row

.input-email
  background: #333
  border: 1px solid $ivory-dark
  border-radius: 2px
  color: #fff
  font-size: 14px
  padding: 5px
  transition: .3s
  &:focus
    background: $ivory-dark
    color: #000000

.button-submit
  background: $ivory-dark
  border: 1px solid $ivory-dark
  border-radius: 2px
  color: #000000
  cursor: pointer
  font-size: 14px
  margin: 5px
  margin-right: 0
  padding: 5px
  transition: .25s
  &:hover
    background: #333
    color: $ivory-dark
  &:active
    background: $ivory-dark
    border: 1px solid $ivory-dark
    color: #000000
    transition: 0s

.news
  h1
    font-size: 24px
    margin: 1.5em 0

.news-story
  box-sizing: border-box
  display: flex
  flex-direction: column
  margin: 0 5px 10px 5px
  padding: 0 0 5px 0

.news-img-container
  background: #E2E2E2
  display: flex
  flex-direction: row
  height: auto
  overflow: hidden
  width: 100%

.news-info-container
  max-height: 250px
  width: 100%

.article
  font-size: 14px
  text-align: left
  color: #000

.article-image
  height: 80px
  max-width: 190px

.article-link
  display: grid

.article-link-headline
  align-self: center
  box-sizing: border-box
  display: flex
  justify-content: center
  max-height: 54px
  height: 100%
  overflow: hidden
  padding: 3px
  text-decoration: none
  width: 100%

.article-link-go
  align-items: center
  background: #333
  border: 1px solid #333
  box-sizing: border-box
  color: #fff
  display: flex
  height: auto
  margin: 0 5px
  padding: 5px 10px
  text-decoration: none
  transition: .1s
  &:hover
    background: #fff
    color: #000
    text-decoration: underline


.headline
  color: #000
  font-size: 16px
  text-transform: uppercase
  vertical-align: middle
  &:hover
    color: #666

.article-author-date
  background: #EEE
  font-size: 10px
  padding: 5px
  display: flex
  justify-content: space-between

.article-text
  align-items: center
  box-sizing: border-box
  display: flex
  justify-content: space-between
  min-height: 60px
  overflow: hidden
  padding: 10px

.time
  max-width: 61px
  white-space: nowrap
  overflow: hidden

.country-detail
  h4
    background: #F6F6F6
    border-bottom: 1px solid #ddd
    border-top: 1px solid #ddd
    padding: 15px 0
    margin: 0

.country-data
  display: flex
  flex-direction: row

.country-map
  background: #C7D8EC
  display: flex
  flex-grow: 1
  align-items: center
  justify-content: center
  padding: 10px 5px 10px 0
  img
    height: auto
    max-height: 220px
    max-width: 300px

.country-list
  display: flex
  flex-basis: 50%
  ul
    list-style: none
    flex-basis: 50%
    flex-grow: 1
    text-align: right
    &:nth-child(even)
      text-align: left

.others
  align-items: center
  background: #F6F6F6
  border-top: 1px solid #DDD
  border-bottom: 1px solid #DDD
  display: flex
  justify-content: space-between
  width: 100%
  img
    height: 37.5px
    max-width: 50px
    width: auto
  div
    box-sizing: border-box
    display: flex
    transition: .2s
    width: auto
    span
      font-size: 11px
      color: #000
      text-transform: uppercase
      padding: 5px 0
    a
      align-items: center
      display: flex
      justify-content: space-between
      flex-direction: row
      text-decoration: none
      padding: 10px
      width: 100%
    &:hover
      background: #DDD
    &:last-child
      justify-content: flex-end
      a
        padding-left: 10px
        padding-right: 10px

img.othersArrow
  align-self: center
  height: 100%

img.othersFlag
  padding: 0 5px

.footer-column
  flex: 1
  flex-direction: column
  display: flex

.footer-last
  flex-grow: 2
  align-items: flex-end
  font-size: 12px
  color: #fff
  text-align: right
  h3
    text-align: right
  p
    margin: 5px 0
/*** MAIN STYLES ***/


/*****************************/



/*****************************/
/******** Mobile SASS ********/
/*****************************/



/*****************************/
@media (max-width: 1200px)

  html
    height: auto

  body
    overflow: auto // To help scrollbar
 
  h2
    font-size: 1.1em

  .App-intro
    padding-top: 0

  .App-header
    .copy
      border-top: 0
      border-right: 0
      border-bottom: 0
      font-size: 11px
      min-width: auto
      span
        margin-top: 3px
    .logo-wrap
      padding: 0 5px
    .nav-wrap
      .inner-header
        max-width: 100%
        .nav-sidenav
          img
            border-top: 0
        .nav-links
          border-left: 0
          ul
            width: 100%
            li
              min-width: 0
              &:nth-child(3)
                display: none
              &:first-child
                background: #BBB
                height: 35px
                a
                  &:hover
                    background: #BBB
              &:nth-child(2)
                height: 35px
              &:nth-child(1n + 1)
                border-right: 1px solid #333
              &:last-child
                border-bottom: 1px solid #333
    &:hover
      width: 100%
      max-width: 100%
    ul
      li
        a
          font-size: 11px
          width: 100%
    li
      background: #222
      border-bottom: 1px solid #333
      border-right: 1px solid #333
      width: 50%
      a
        line-height: 8px
        padding: 0
        &:hover
          background: #222
          color: #fff
 
  .inner-header
    flex-direction: column

  .show
    display: block
    opacity: 1
    height: auto
    visibility: visible

  .about
    line-height: 18px
    margin: 0
 
  .about:hover
    background: #222
 
  .none
    display: none

  .title
    font-size: 12px
    font-weight: 200
    padding: 0

  .content-box-links
    height: 40px
    line-height: 40px

  .open-menu
    height: 16px

  .close-menu
    height: 16px

  .top-nav
    height: auto
    flex-direction: row
    a
      height: auto
      font-size: 10px
      padding: 0
      width: 100%

  .international-news
    max-height: 100px
 
  .top-banner
    align-items: center
    flex-direction: row
    height: 40px
    justify-content: center
 
  .top-icon
    height: 40px
    width: 100%

  .top-flag
    width: auto
    display: none
    align-items: center
    height: 100%
    box-sizing: border-box
    padding: 5px
    border-left: 1px solid #000
    img
      height: 35px
      width: 50px
 
  .top-leader
    height: 100%
    padding: 0
    max-height: 40px
 
  .top-title
    width: auto
    top: auto
    min-width: auto
    font-size: 11px
    height: auto
    margin: 0 7px
    padding: 0
    left: auto
    line-height: 2em
 
  .data-sheets
    flex-direction: column

  .data-container
    .data-point
      padding: 4px 10px
      margin: 1px 5px
      max-width: 100%
      span
        font-size: 12px

  .data-image
    width: auto
 
  .img-highlight
    margin: 0 auto
    padding: 10px 0
    .img-highlight-text 
      p
        font-size: 14px

  .img-highlight-image
    max-height: 188px

  .data-pic
    width: auto
 
  .inner-content
    width: 100%
    margin-bottom: 20px

  .home-image
    max-width: 120px
    margin-bottom: -1px
 
  .inner-datasheets
    width: auto
    td
      padding: 5px 2px
      font-size: 14px

  #schedule
    flex-direction: column

  .inner-maps
    width: 90%

  .inner-schedule
    font-size: 12px
    margin: 0 auto 10px
    width: 100%
    .scheduleHeader
      margin: 0 auto
      width: 90%
    .scheduleBox
      font-size: 11px
      padding: 0
      margin: 0 auto
      width: 90%
      ul
        .dayBox
          .dateBox
            box-sizing: border-box
            width: 50px
            height: 50px
            font-size: 16px
            margin-left: 5px
            .monthBox
              font-size: 11px
              margin-bottom: 3px

  .inner-home
    h1
      font-size: 24px
    img
      width: 75%

  .featuredBox
    .featuredEvents
      align-items: center
      .featuredDetails
        flex-direction: column
        margin-right: 0
        div
          a
            margin-top: 10px
        .featuredTitle
          max-width: 100%
          h3
            padding: 0
            margin: 0
            &:last-child
              padding-bottom: 10px
        .featuredStats
          margin-left: 0
          max-width: 100%
          .featured-flag
            margin-bottom: 10px
          ul
            flex-direction: row
            flex-wrap: wrap
            li
              padding: 0
              width: 50%
              &:nth-child(3n)
                background: $ivory
              &:nth-child(3n+1)
                background: $ivory-dark
              &:nth-child(3n+2)
                background: #dcd9d1
        ul
          margin-left: 0
      img
        width: 132px
        min-height: auto

  .inner-news
    padding: 0 0 10px

  .news
    h1
      font-size: 18px
      margin: 1em 0 .5em

  .news-open
    font-size: 13px
    padding: 7px 0
    width: 30%
 
  .news-box
    width: 100%

  .news-story
    align-items: center
    border: 1px solid #e6e6e6
    flex-direction: column
    margin: 3px auto
    max-width: 400px
    overflow: hidden
    padding: 0
    width: 92%

  .news-img-container
    width: 100%
    position: relative
    &::after
      display: none

  .news-info-container
    background: #f2f2f2
    margin: 0

  .article
    font-size: 11px
    height: auto
 
  .article-image
    height: 50px
    margin: 0 auto
    z-index: 1

  .article-link
    border-top: 0
    margin: 0 auto

  .article-author-date
    padding: 2px 3px
    display: flex

  .article-link-headline
    padding: 1px 3px
    min-height: auto
    .headline
      font-size: 13px

  .article-text
    padding-left: 3px
 
  .content-box-links
    width: 100%
    position: relative
    top: auto

  .week
    width: 90%

  .top-split
    flex-direction: column

  .data-country
    width: auto

  .country-data
    flex-direction: column

  .country-list
    flex-basis: unset
    ul
      padding: 0 0 0 10px
      text-align: left
      &:last-child
        text-align: right
        padding: 0 10px 0 0
      li
        font-size: 13px
 
  .maps
    height: 220px
    width: 100%

  img.othersArrow
    max-width: 15px

  .others
    img
      height: 25px
    div
      max-width: 50%
      a
        padding: 10px 5px
      &:last-child
        a
          padding: 10px 5px
      span
        font-size: 10px
        padding: 0
 
  .inner-footer
    flex-direction: column-reverse
    flex-wrap: wrap
    height: auto
    margin: 0 auto
    width: 90%
 
  .footer
    height: auto
    a
      font-size: 13px
      margin: 1px 0
      width: auto
    .footer-input
      margin: 0 auto
    .footer-column
      margin: 0 auto
    .footer-links
      flex-direction: row
      display: flex
      .footer-middle
        h3
          text-align: right
          align-self: flex-end
        a
          text-align: right
    .footer-last
      text-align: center
      margin: 20px auto
      h3
        text-align: center
        width: 100%
      p
        text-align: center
/*** Mobile Sass ***/