/**************** */
/*** FONT-FACE ** */
/**************** */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Kanit|Raleway|Archivo+Black");
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }
/**************** */
/*** FONT-FACE ** */
/**************** */
/**************** */
/*** KEYFRAMES ** */
/**************** */
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(15px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(-15px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fade-out-top {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0;
    transform: translateY(15px); } }
/**************** */
/*** KEYFRAMES ** */
/**************** */
/**************** */
/*** VARIABLES ** */
/**************** */
/**************** */
/*** VARIABLES ** */
/**************** */
/****************** */
/*** MAIN STYLES ** */
/****************** */
* {
  font-family: system, sans-serif; }

input,
button {
  outline: none;
  color: #fff; }

*::-webkit-input-placeholder {
  color: #fff; }

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  background: #EEE;
  display: flex; }

a {
  color: #FFFFFF; }

.hide {
  display: none; }

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; }

.container {
  background: #FFF;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main" "footer footer";
  grid-template-columns: 15% auto;
  grid-template-rows: 60px auto 220px;
  margin: 0 auto;
  max-width: 1440px; }

.sidebar {
  background: #222;
  color: #FFF;
  grid-area: sidebar;
  height: 100%;
  top: 0;
  left: 0; }

.sidebar-inner p {
  align-items: center;
  color: #E94949;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 5px; }
.sidebar-inner ul {
  color: #FFF; }
.sidebar-inner li {
  border-bottom: 1px solid #666;
  margin: 0; }

.sidebar-body {
  margin: 0 5px; }

.leader-list {
  margin: 0 0 0 5px; }

.sidebar-header {
  align-items: center;
  background: #E94949;
  color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 50px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  align-content: center;
  align-items: center; }

.sidebar-topics ul {
  list-style: none;
  padding: 0 0 15px 10px; }
  .sidebar-topics ul li {
    border: none;
    color: #CCC;
    margin-bottom: 3px; }
.sidebar-topics .sidebar-date {
  justify-content: center; }

.sidebar-full {
  color: #CCC;
  font-size: 10px; }

.sidebar-body {
  height: 100%; }

.globeIcon {
  height: 24px;
  width: 24px; }

.top-logo {
  height: 30px;
  width: 30px; }

.App-logo {
  height: 30px;
  padding: 10px 5px;
  transition-delay: 0.2s;
  transition: 0.2s; }

.header {
  color: #FFF;
  grid-area: header;
  overflow: hidden;
  width: 100%; }

.App-header {
  background: #DDD;
  color: #ffa14e;
  display: flex;
  flex-direction: column;
  height: 50px;
  min-height: 33px;
  overflow: hidden;
  width: 100%; }
  .App-header a {
    color: #000; }
  .App-header .copy {
    border: 1px solid #333;
    border-bottom: 0;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    margin: 0 auto;
    min-width: 140px;
    height: 50px;
    padding: 0;
    width: 100%; }
    .App-header .copy span {
      font-size: 10px;
      margin: 0 auto;
      max-width: 136px; }
  .App-header .logo-wrap {
    align-items: center;
    background-color: #DDD;
    border-bottom: 1px solid #E94949;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: space-between;
    line-height: 48px;
    padding: 0 0 0 0;
    transition: 0.15s; }
    .App-header .logo-wrap .navbar {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      justify-content: flex-end; }
  .App-header .nav-wrap {
    background: #333;
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    z-index: 88; }
    .App-header .nav-wrap .inner-header {
      border-bottom: 1px solid #333333;
      display: flex;
      margin: 0 auto;
      max-width: 761px; }
      .App-header .nav-wrap .inner-header .nav-links {
        cursor: pointer;
        background: #BBB;
        border-left: 1px solid #333333; }
        .App-header .nav-wrap .inner-header .nav-links ul {
          display: flex;
          width: 190px; }
          .App-header .nav-wrap .inner-header .nav-links ul .nav-links-active {
            background: #A9A69E; }
            .App-header .nav-wrap .inner-header .nav-links ul .nav-links-active a:hover {
              background: #98958e; }
          .App-header .nav-wrap .inner-header .nav-links ul li {
            background: #D4D0C6;
            justify-content: left;
            min-width: 190px;
            border-bottom: 1px solid #333; }
            .App-header .nav-wrap .inner-header .nav-links ul li a {
              color: #000;
              width: 100%;
              height: 22px;
              justify-content: center; }
              .App-header .nav-wrap .inner-header .nav-links ul li a:hover {
                background: #aaa; }
            .App-header .nav-wrap .inner-header .nav-links ul li:first-child {
              border-top: 1px solid #333;
              border-bottom: 1px solid #333;
              background: #D4D0C6;
              cursor: default;
              height: 51px; }
              .App-header .nav-wrap .inner-header .nav-links ul li:first-child a {
                height: 100%; }
                .App-header .nav-wrap .inner-header .nav-links ul li:first-child a:hover {
                  background: #A9A69E; }
            .App-header .nav-wrap .inner-header .nav-links ul li:nth-child(2) {
              height: 34px; }
              .App-header .nav-wrap .inner-header .nav-links ul li:nth-child(2) a {
                height: 100%; }
  .App-header ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none; }
    .App-header ul li {
      justify-content: center;
      align-items: center;
      text-decoration: none;
      box-sizing: border-box;
      background: #D4D0C6;
      display: flex; }
      .App-header ul li a {
        text-decoration: none;
        font-size: 13px;
        display: flex;
        justify-content: left;
        padding: 0;
        align-items: center; }
        .App-header ul li a img {
          border-top: 1px solid #333;
          box-sizing: border-box;
          max-height: 50px;
          min-width: 50px;
          width: 50px; }
        .App-header ul li a:hover {
          background: #A9A69E; }
  .App-header:hover {
    transition: 0.1s;
    transition-delay: 0.2s; }
    .App-header:hover .copy {
      transition: 0.2s; }
    .App-header:hover li .sidelink-text {
      transition-delay: 0.25s; }

.img-size {
  border: 0;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  padding: 3px 0; }

.navbar-search {
  background: #EEE;
  border: 0;
  color: #000;
  font-size: 16px;
  outline: none;
  padding: 0 15px;
  text-transform: uppercase;
  transition: 150ms;
  width: 100%; }
  .navbar-search::placeholder {
    color: #999; }
  .navbar-search:focus {
    background: #333;
    color: #FFF; }

.active,
.App-header .active {
  background: #a9a69e; }

.App-header .active:hover {
  background: #98958e; }

.fade-in-bottom {
  animation: fade-in-bottom ease 0.4s forwards; }

.fade-in-top {
  animation: fade-in-top ease 0.4s forwards; }

.fade-in-right {
  animation: fade-in-right ease 0.4s forwards; }

.international-news {
  animation-delay: 0s;
  max-height: 212px;
  overflow: hidden; }
  .international-news img {
    display: block;
    min-height: 100%;
    max-width: 900px;
    width: 100%; }

.show {
  opacity: 1;
  transition: 100ms;
  max-height: 551px; }

.hidden {
  opacity: 0;
  transition: 100ms;
  pointer-events: none; }

.fadeIn {
  display: block;
  background: #0f0; }

.sidelink-text {
  visibility: hidden;
  display: none;
  transition: 0.5s; }

.leader-list {
  border-top: 1px solid #E94949;
  margin: 0;
  list-style: none;
  padding: 0; }
  .leader-list .copy {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    transition: 500ms;
    padding: 0 5px;
    width: 0;
    position: relative;
    white-space: nowrap; }
  .leader-list a {
    align-items: center;
    color: #FFF;
    display: flex;
    position: relative;
    text-align: right;
    transition: 500ms;
    font-weight: 600;
    text-decoration: none; }
    .leader-list a img {
      min-width: 50px; }
    .leader-list a span {
      font-size: 11px;
      font-weight: 400; }
    .leader-list a:hover {
      background: #333; }
      .leader-list a:hover .copy {
        width: 100%;
        justify-content: flex-end; }

.leader-list .navlink-active {
  background: #333; }
  .leader-list .navlink-active:hover {
    background: #444; }
  .leader-list .navlink-active .copy {
    width: 100%;
    justify-content: flex-end; }

.nav-sidenav {
  display: flex;
  flex-direction: column;
  transition: 0s; }
  .nav-sidenav .leader-list {
    display: none; }
  .nav-sidenav .page-show {
    display: block; }
  .nav-sidenav li a img {
    height: 50px; }
  .nav-sidenav div {
    width: 100%; }
    .nav-sidenav div ul li:nth-child(3n) a .copy {
      border-right: 0; }

.button-menu {
  background: #333;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: block;
  height: 60px;
  padding: 0;
  transition: 0.2s;
  width: 60px; }
  .button-menu .open-menu {
    padding: 3px 5px 2px; }
  .button-menu .close-menu {
    padding: 3px 5px 2px; }

.App-intro {
  background: #FFFFFF;
  flex: 1;
  height: 100%;
  transition: 0.2s;
  overflow-y: auto;
  position: relative;
  transition-delay: 0.4s; }

.top-nav {
  color: #333;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  width: 100%; }
  .top-nav .active {
    background: black;
    color: #fff; }
  .top-nav a {
    color: #000;
    display: block;
    padding: 0px 28px;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px; }
    .top-nav a:hover {
      background: rgba(0, 0, 0, 0.1); }
  .top-nav .active:hover {
    background: #000;
    color: #ffa500; }

.top-icon {
  height: 60px;
  text-align: left;
  width: 50px; }

.top-leader {
  animation: fade-in-right ease 0.4s forwards;
  animation-delay: 0.4s;
  opacity: 0;
  height: 60px;
  max-height: 60px; }

.banner-text {
  color: #000;
  font-size: 16px;
  line-height: 40px;
  margin: 0;
  align-text: center; }

.top-flag {
  background: #fff;
  height: 60px;
  position: relative;
  width: 120px; }
  .top-flag img {
    animation-delay: 0.8s;
    opacity: 0;
    border-left: 1px solid #DDD;
    box-sizing: border-box;
    float: right;
    height: 100%;
    max-width: 120px; }

.top-title {
  animation: fade-in-right ease 0.4s forwards;
  animation-delay: 0.4s;
  transform: scaleX(0);
  transform-origin: left;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  min-width: 280px;
  padding: 4px;
  margin: 0 25px;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap; }

.top-content {
  background: #fff;
  position: relative;
  width: 100%; }

.top-banner {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-grow: 1; }

.inner-featured {
  background: #ECE8DD;
  width: 100%;
  max-width: 800px;
  margin: 15px auto; }

.featuredBox {
  animation: fade-in-top 0.3s ease forwards;
  animation-delay: 0.8s;
  background: #ECE8DD;
  box-sizing: border-box;
  margin: 15px auto;
  max-width: 800px;
  opacity: 0;
  width: 100%; }
  .featuredBox .featured-nation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 5px; }
    .featuredBox .featured-nation h3 {
      margin: 0;
      font-family: "Kanit", sans-serif;
      padding: 10px 0; }
  .featuredBox .featuredEvents {
    display: flex;
    padding: 0 15px;
    justify-content: space-between; }
    .featuredBox .featuredEvents .featuredDetails {
      width: 100%;
      display: flex; }
      .featuredBox .featuredEvents .featuredDetails .featuredDetailsBox {
        display: flex;
        width: 100%;
        flex-direction: row; }
      .featuredBox .featuredEvents .featuredDetails .featured-news {
        background: #bebbb2;
        border: 1px solid #D4D0C6;
        border-left: 0;
        width: 100%; }
        .featuredBox .featuredEvents .featuredDetails .featured-news ul {
          background: #f6f6f6;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: 100%;
          list-style: none;
          padding: 0;
          min-width: 200px;
          margin: 0px; }
          .featuredBox .featuredEvents .featuredDetails .featured-news ul p {
            padding: 1px 10px 0;
            font-size: 12px;
            height: 60px;
            overflow: hidden;
            text-align: left; }
          .featuredBox .featuredEvents .featuredDetails .featured-news ul span {
            background: #EEE;
            font-family: "Raleway", sans-serif;
            padding: 12px 10px;
            width: 100%; }
          .featuredBox .featuredEvents .featuredDetails .featured-news ul li {
            text-align: left;
            font-family: Raleway, sans-serif;
            font-size: 16px;
            min-height: 50px;
            padding: 0 10px; }
            .featuredBox .featuredEvents .featuredDetails .featured-news ul li a {
              color: #000;
              line-height: 25px;
              width: 100%; }
              .featuredBox .featuredEvents .featuredDetails .featured-news ul li a:hover {
                color: #777; }
            .featuredBox .featuredEvents .featuredDetails .featured-news ul li:last-child {
              margin-bottom: 5px; }
      .featuredBox .featuredEvents .featuredDetails .featuredTitle {
        background: #f6f6f6;
        border: 1px solid #D4D0C6;
        border-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px; }
        .featuredBox .featuredEvents .featuredDetails .featuredTitle img {
          max-width: 168px;
          padding: 0 10px 10px 10px; }
        .featuredBox .featuredEvents .featuredDetails .featuredTitle div {
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          flex-grow: 1; }
          .featuredBox .featuredEvents .featuredDetails .featuredTitle div span {
            display: flex;
            font-family: "Raleway", sans-serif;
            font-size: 16px;
            font-weight: 700;
            align-items: center; }
      .featuredBox .featuredEvents .featuredDetails div a {
        text-align: center; }
        .featuredBox .featuredEvents .featuredDetails div a button {
          border: 1px solid #bebbb2;
          color: #000;
          font-size: 13px;
          margin: 12px auto 0;
          padding: 10px 12px;
          transition: 0.15s; }
          .featuredBox .featuredEvents .featuredDetails div a button:hover {
            box-shadow: 0 4px 30px rgba(50, 50, 93, 0.1), 0 1px 10px rgba(0, 0, 0, 0.07);
            transform: translateY(-2px);
            cursor: pointer; }
      .featuredBox .featuredEvents .featuredDetails .featuredStats {
        background: #EEE;
        border-bottom: 1px solid #D4D0C6;
        border-top: 1px solid #D4D0C6;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 10px;
        width: 100%; }
        .featuredBox .featuredEvents .featuredDetails .featuredStats .featured-flag {
          height: 50px;
          margin: 10px auto 0;
          max-width: 100px;
          min-height: auto; }
        .featuredBox .featuredEvents .featuredDetails .featuredStats span {
          background: #D4D0C6;
          margin: 11px 0 0;
          padding: 12px 0px;
          text-align: center;
          font-family: "Raleway", sans-serif; }
        .featuredBox .featuredEvents .featuredDetails .featuredStats .featured-stats-list span {
          background: inherit;
          margin: 0;
          padding: 0;
          font-family: system, sans-serif;
          float: right; }
        .featuredBox .featuredEvents .featuredDetails .featuredStats h4 {
          margin: 0;
          padding: 10px 0px;
          border-bottom: 1px solid #ccc; }
        .featuredBox .featuredEvents .featuredDetails .featuredStats ul {
          height: auto;
          list-style: none;
          padding: 0;
          margin: 0; }
          .featuredBox .featuredEvents .featuredDetails .featuredStats ul li {
            box-sizing: border-box;
            font-size: 14px;
            line-height: 24px;
            padding: 0 5px;
            text-align: center;
            width: 100%; }
            .featuredBox .featuredEvents .featuredDetails .featuredStats ul li:nth-child(even) {
              background: #D4D0C6; }
            .featuredBox .featuredEvents .featuredDetails .featuredStats ul li:nth-child(odd) {
              background: #ECE8DD; }
            .featuredBox .featuredEvents .featuredDetails .featuredStats ul li:first-child {
              text-align: center; }
    .featuredBox .featuredEvents img {
      max-width: 188px;
      min-height: 200px; }
  .featuredBox .featuredMore {
    display: flex;
    justify-content: center;
    align-items: center; }

.contentBox {
  align-items: center;
  display: flex;
  flex-direction: column; }

.content-box-links {
  animation-delay: 0.6s;
  opacity: 0;
  align-items: center;
  background: #fff;
  display: flex;
  flex-grow: 0;
  flex-wrap: nowrap;
  font-family: sans-serif;
  font-size: 12px;
  justify-content: center;
  line-height: 60px;
  overflow-x: auto; }

.content {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%; }

.inner-content {
  box-sizing: border-box;
  height: auto;
  margin: 0px 20px 66px;
  max-width: 900px; }

.img-highlight {
  padding: 25px 0 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .img-highlight .img-highlight-leader {
    width: 100%;
    position: relative;
    text-align: center; }
    .img-highlight .img-highlight-leader .img-highlight-image {
      position: relative;
      z-index: 1;
      height: 282px;
      max-width: 200px; }
    .img-highlight .img-highlight-leader::after {
      background: #ddd;
      display: block;
      height: 25%;
      width: 100%;
      content: "";
      position: absolute;
      top: 75%; }
  .img-highlight .img-highlight-text {
    background: #ddd;
    text-align: center;
    width: 100%; }
    .img-highlight .img-highlight-text p {
      color: #000;
      font-family: "Kanit", sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 0.66em; }

.home {
  display: flex;
  flex-direction: column;
  grid-area: main; }

.inner-home {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  max-width: 800px; }
  .inner-home h1 {
    font-family: "Raleway", sans-serif; }
  .inner-home .home-action {
    display: flex;
    margin: 0 auto;
    padding: 0 5px; }
    .inner-home .home-action h1 {
      flex-grow: 2;
      font-size: 31px;
      text-align: left;
      margin: 5px 0; }
    .inner-home .home-action h3 {
      flex-basis: 50%;
      align-self: flex-end;
      line-height: 16px;
      text-align: right;
      font-size: 13px;
      font-family: "Crimson Text", sans-serif;
      margin: 5px auto; }

.home-image {
  opacity: 0.7;
  margin: -30px auto 0;
  max-width: 160px; }

.inner-map {
  animation: fade-in-top 0.4s ease forwards;
  animation-delay: 0.2s;
  width: 100%;
  border-bottom: 1px solid #D4D0C6;
  border-top: 1px solid #D4D0C6;
  opacity: 0;
  max-width: 800px;
  margin: 0 auto 15px; }

.inner-home-map {
  background: #ECE8DD;
  border: none;
  max-width: 810px;
  margin: 0 auto; }

.item-header {
  border-bottom: 1px solid #D4D0C6;
  color: #000;
  display: flex;
  font-family: "Archivo Black", sans-serif;
  font-size: 16px;
  font-weight: 700;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 15px;
  text-transform: uppercase; }
  .item-header span {
    align-self: center;
    font-size: 14px;
    text-transform: capitalize; }

.grid-item {
  background: #DDD;
  box-sizing: border-box;
  height: 190px;
  margin-bottom: 15px;
  width: 190px; }
  .grid-item a {
    text-decoration: none; }

.grid-list {
  width: 800px;
  margin: 40px auto 0; }

.grid-list-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0; }

.grid-image {
  width: 100%; }
  .grid-image:hover + .grid-copy {
    background: rgba(34, 34, 34, 0.8);
    color: #FFF;
    margin-top: -53px;
    padding: 5px 0; }

.grid-copy {
  background: rgba(51, 51, 51, 0.5);
  color: #EEE;
  font-size: 14px;
  height: 40px;
  margin-top: -47px;
  padding: 2px 0;
  position: absolute;
  text-align: center;
  transition: 0.1s;
  width: 190px; }
  .grid-copy:hover {
    background: rgba(34, 34, 34, 0.8);
    color: #FFF;
    margin-top: -53px;
    padding: 5px 0; }

.grid-sort {
  background: #D4D0C6;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
  max-width: 800px; }
  .grid-sort span {
    align-items: center;
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-grow: 2; }
  .grid-sort ul {
    display: flex;
    flex-grow: 0;
    list-style: none;
    margin: 0;
    padding: 0; }
    .grid-sort ul li {
      border-left: 1px solid #000;
      color: #000;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold; }
      .grid-sort ul li:hover {
        background: #ECE8DD; }
      .grid-sort ul li a {
        align-items: center;
        color: #000;
        display: flex;
        padding: 5px 15px;
        text-decoration: none; }
        .grid-sort ul li a .img-size {
          padding-right: 5px; }

.inner-rank {
  animation: fade-in-top 0.4s ease forwards;
  animation-delay: 0.6s;
  background: #ECE8DD;
  max-width: 800px;
  margin: 0 auto 15px;
  opacity: 0;
  width: 100%; }

.rank {
  margin-top: 15px; }

.rank-item {
  display: flex;
  padding: 0 15px;
  margin: 0 auto 15px; }
  .rank-item .rank-item-image {
    max-height: 93px;
    margin-right: 10px;
    transition: 0.1s; }
    .rank-item .rank-item-image img {
      height: 93px;
      width: 60px; }
  .rank-item .rank-item-data {
    display: flex;
    flex-grow: 1;
    flex-direction: column; }
    .rank-item .rank-item-data .rank-head-name {
      display: flex;
      align-items: flex-end;
      font-size: 14px;
      justify-content: space-between;
      flex-grow: 1; }
      .rank-item .rank-item-data .rank-head-name span {
        font-size: 12px;
        justify-content: center; }
    .rank-item .rank-item-data .rank-link {
      position: relative;
      margin: 0 5px; }
      .rank-item .rank-item-data .rank-link .rank-image {
        height: 132px;
        width: 220px;
        padding-bottom: 15px; }
      .rank-item .rank-item-data .rank-link .rank-headline {
        background: #ffffff;
        box-shadow: 0 4px 30px rgba(50, 50, 93, 0.1), 0 1px 10px rgba(0, 0, 0, 0.07);
        box-sizing: border-box;
        display: block;
        font-size: 14px;
        font-weight: 900;
        left: 20px;
        line-height: 13px;
        max-width: 180px;
        min-height: 56px;
        max-height: 80px;
        overflow: hidden;
        padding: 10px;
        position: absolute;
        bottom: 5px; }
      .rank-item .rank-item-data .rank-link:hover .rank-headline {
        box-shadow: 0 10px 30px rgba(50, 50, 93, 0.1), 0 4px 15px rgba(0, 0, 0, 0.07);
        transform: translateY(-2px); }
      .rank-item .rank-item-data .rank-link:active .rank-headline {
        box-shadow: 0 4px 30px rgba(50, 50, 93, 0.1), 0 1px 10px rgba(0, 0, 0, 0.07);
        transform: translateY(0); }
    .rank-item .rank-item-data .rank-item-head {
      background: #D4D0C6;
      display: flex;
      justify-content: space-between;
      padding: 5px 10px; }
    .rank-item .rank-item-data .rank-item-articles {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 10px 5px;
      text-align: left;
      width: 100%; }
      .rank-item .rank-item-data .rank-item-articles a {
        color: #333; }

.inner-week {
  background: #ECE8DD;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }
  .inner-week .week {
    animation: fade-in-top 0.3s ease forwards;
    animation-delay: 0.5s;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    margin: 15px auto 0;
    max-width: 800px;
    padding: 0 15px; }
    .inner-week .week .week-box {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 88px;
      flex-direction: column;
      overflow: hidden;
      margin: 0px auto 15px;
      max-width: 384px;
      position: relative;
      width: 100%; }
      .inner-week .week .week-box .week-title {
        border: 1px solid #D4D0C6;
        display: flex;
        flex-direction: column;
        height: 88px;
        justify-content: space-between;
        overflow: hidden;
        width: 100%; }
        .inner-week .week .week-box .week-title .week-day {
          align-items: center;
          background: #D4D0C6;
          color: #000;
          display: flex;
          height: 36px;
          min-height: 36px;
          padding: 0 5px;
          justify-content: center; }
      .inner-week .week .week-box .week-details {
        background: #ECE8DD;
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        width: 100%;
        cursor: pointer;
        overflow: hidden; }
        .inner-week .week .week-box .week-details a {
          align-items: flex-end;
          cursor: default;
          display: flex;
          height: 100%;
          text-decoration: none;
          width: 100%; }
          .inner-week .week .week-box .week-details a img {
            height: 88px;
            width: 128px;
            margin-right: 5px;
            min-width: 128px; }
          .inner-week .week .week-box .week-details a .week-content {
            background: #f3f3f3;
            font-size: 14px;
            text-align: left;
            color: #000;
            flex-grow: 1;
            padding: 0 5px; }

.inner-datasheets {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0; }
  .inner-datasheets tbody {
    margin: 0 auto; }
  .inner-datasheets td {
    border: 1px solid #000;
    padding: 10px 5px; }

.inner-polls {
  height: auto;
  padding: 0px 0; }

.twitter-inner {
  animation: fade-in-top ease 0.4s forwards;
  animation-delay: 0.6s;
  background: #f6f6f6;
  max-width: 900px;
  margin: 0 auto 25px;
  opacity: 0;
  padding: 5px 0 0; }
  .twitter-inner iframe {
    margin: 0 auto; }

.timeline {
  width: 500px; }

.schedule {
  background: #F6F6F6;
  border-top: 15px solid #FFF;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between; }
  .schedule .schedule-div {
    width: 100%; }
  .schedule .inner-schedule {
    animation: fade-in-top ease 0.4s forwards;
    animation-delay: 0.8s;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 0;
    justify-content: center;
    width: 320px; }
    .schedule .inner-schedule .scheduleBox {
      background: #e6e6e6;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%; }
      .schedule .inner-schedule .scheduleBox ul {
        margin: 0;
        list-style: none;
        padding: 0;
        width: 100%; }
        .schedule .inner-schedule .scheduleBox ul .dayBox {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px; }
          .schedule .inner-schedule .scheduleBox ul .dayBox .dateBox {
            background: #f8f8f8;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: flex;
            height: 68px;
            font-size: 24px;
            font-weight: 200;
            margin-right: 5px; }
            .schedule .inner-schedule .scheduleBox ul .dayBox .dateBox .monthBox {
              font-size: 12px;
              margin-bottom: 4px;
              min-width: 68px; }
          .schedule .inner-schedule .scheduleBox ul .dayBox .eventBox {
            font-size: 12px;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;
            display: flex;
            align-items: center;
            height: 68px;
            overflow: hidden; }
            .schedule .inner-schedule .scheduleBox ul .dayBox .eventBox p {
              background: #f8f8f8;
              padding: 3px 5px;
              box-sizing: border-box;
              margin: 0;
              width: 100%;
              display: flex;
              flex-grow: 1;
              text-align: left; }
            .schedule .inner-schedule .scheduleBox ul .dayBox .eventBox span {
              background: #CCC;
              width: 100%;
              padding: 2px 0; }
            .schedule .inner-schedule .scheduleBox ul .dayBox .eventBox:hover {
              background: #F3F3F3;
              cursor: pointer; }
  .schedule .mapsBox {
    display: flex; }
    .schedule .mapsBox .inner-maps {
      margin: 0 auto;
      width: 66%;
      position: relative; }

.top-split {
  background: #F6F6F6;
  display: flex;
  animation-delay: 1.4s;
  opacity: 0; }

.datasheetsInner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 5px;
  max-width: 400px; }

.data-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: center; }
  .data-container .data-point {
    background: #FAFAFA;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    padding: 5px;
    width: 100%;
    max-width: 350px; }
    .data-container .data-point:nth-child(even) {
      background: #EEEEEE; }
    .data-container .data-point span {
      color: #222; }
      .data-container .data-point span a {
        color: #222; }

.data-country {
  border: 1px solid #000;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
  background: #eee;
  padding: 10px;
  width: 800px; }

.data-info {
  border: 1px solid #ddd;
  margin: 5px;
  flex-grow: 1; }

.data-image {
  display: flex;
  justify-content: center;
  padding: 0 25px; }

.data-pic {
  width: 200px;
  box-sizing: border-box; }

.listItems li:nth-child(-n+4) {
  display: none; }

.biography {
  padding: 32px 30px 0;
  text-align: left; }
  .biography .biography-text {
    min-height: 305px; }

.maps {
  border: 0;
  max-width: 1000px;
  height: 296px;
  transition: 0.1s;
  width: 100%; }

.leadermap {
  animation: fade-in-top ease 0.4s forwards;
  animation-delay: 1.2s;
  border: 0;
  max-width: 800px;
  height: 376px;
  transition: 0.1s;
  opacity: 0;
  width: 100%; }

#overlay {
  width: 100%;
  height: 100%;
  background: rgba(224, 224, 224, 0.6);
  position: absolute;
  transition: 0.25s; }

.more {
  color: #000; }

.inner-news {
  border-top: 15px solid #FFF;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 530px;
  margin: 0 auto;
  padding: 25px 0;
  overflow: hidden;
  transition: 0.3s; }
  .inner-news h4 {
    align-self: center;
    margin: 0 auto; }
  .inner-news .more-loaded {
    display: none; }
  .inner-news .news-box {
    width: 100%; }
    .inner-news .news-box:nth-child(even) .news-story .news-img-container {
      flex-direction: row-reverse; }

.news-open {
  background: #DDD;
  border: 1px solid #D1D1D1;
  cursor: pointer;
  padding: 10px 0;
  width: 40%;
  transition: 0.1s;
  margin: 20px auto; }
  .news-open:hover {
    background: #DADADA;
    transform: translateY(-2px);
    box-shadow: 0 4px 30px rgba(50, 50, 93, 0.1), 0 1px 10px rgba(0, 0, 0, 0.07); }

.contact {
  background: #ECE8DD;
  height: 100%; }
  .contact .contact-details {
    padding: 200px 0 300px; }

.twitter-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* Election Calendar */
.election-cal {
  background: #EEE;
  padding: 5px; }
  .election-cal .election-cal-years {
    display: flex;
    margin: 0 0 5px; }
    .election-cal .election-cal-years a {
      color: #000;
      cursor: pointer;
      margin: 0 5px;
      text-decoration: none;
      font-family: "Arial", sans-serif;
      font-weight: 600; }
      .election-cal .election-cal-years a:hover {
        text-decoration: underline; }

.election-cal-list {
  cursor: default;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 5px 5px;
  padding: 0 0 5px; }
  .election-cal-list li {
    display: flex;
    justify-content: space-between;
    padding: 0 5px; }
    .election-cal-list li:nth-child(odd) {
      background: #DADADA; }
    .election-cal-list li:nth-child(even) {
      background: #E5E5E5; }

.election-cal-date {
  color: #888; }

.election-cal-loadlist {
  cursor: pointer; }
  .election-cal-loadlist:hover {
    text-decoration: underline; }

/*/ */
.footer {
  align-items: center;
  background: #2c2c2c;
  border-left: 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  justify-content: flex-end;
  min-height: 220px;
  width: 100%; }
  .footer a {
    color: #fff;
    margin: 1px 10px 0 0;
    font-size: 12px;
    padding: 5px 0;
    text-align: left;
    transition: 0.25s;
    text-decoration: none; }
    .footer a:hover {
      border-radius: 5px;
      color: #D4D0C6; }
  .footer h3 {
    color: #777;
    font-weight: 900;
    font-family: arial, sans-serif;
    margin: 5px 0;
    padding: 0;
    cursor: default;
    text-transform: uppercase;
    text-align: left;
    font-size: 13px; }

.footer-links {
  display: flex;
  flex-grow: 1; }

.inner-footer {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  flex-direction: row; }

.input-email {
  background: #333;
  border: 1px solid #D4D0C6;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  transition: 0.3s; }
  .input-email:focus {
    background: #D4D0C6;
    color: #000000; }

.button-submit {
  background: #D4D0C6;
  border: 1px solid #D4D0C6;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  transition: 0.25s; }
  .button-submit:hover {
    background: #333;
    color: #D4D0C6; }
  .button-submit:active {
    background: #D4D0C6;
    border: 1px solid #D4D0C6;
    color: #000000;
    transition: 0s; }

.news h1 {
  font-size: 24px;
  margin: 1.5em 0; }

.news-story {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 5px 10px 5px;
  padding: 0 0 5px 0; }

.news-img-container {
  background: #E2E2E2;
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: hidden;
  width: 100%; }

.news-info-container {
  max-height: 250px;
  width: 100%; }

.article {
  font-size: 14px;
  text-align: left;
  color: #000; }

.article-image {
  height: 80px;
  max-width: 190px; }

.article-link {
  display: grid; }

.article-link-headline {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-height: 54px;
  height: 100%;
  overflow: hidden;
  padding: 3px;
  text-decoration: none;
  width: 100%; }

.article-link-go {
  align-items: center;
  background: #333;
  border: 1px solid #333;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: auto;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.1s; }
  .article-link-go:hover {
    background: #fff;
    color: #000;
    text-decoration: underline; }

.headline {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle; }
  .headline:hover {
    color: #666; }

.article-author-date {
  background: #EEE;
  font-size: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between; }

.article-text {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  overflow: hidden;
  padding: 10px; }

.time {
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden; }

.country-detail h4 {
  background: #F6F6F6;
  border-bottom: 1px solid #ddd;
  border-top: 15px solid #FFF;
  font-family: "Kanit", sans-serif;
  padding: 17px 0;
  margin: 0; }

.country-data {
  display: flex;
  flex-direction: row; }

.country-map {
  background: #C7D8EC;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 10px 5px 10px 0; }
  .country-map img {
    height: auto;
    max-height: 220px;
    max-width: 300px; }

.country-list {
  background: #e6e6e6;
  display: flex;
  flex-basis: 50%; }
  .country-list ul {
    list-style: none;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 0 10px;
    text-align: left; }
    .country-list ul li {
      padding: 0 3px; }
      .country-list ul li:nth-child(2n+1) {
        background: #CCC; }
      .country-list ul li:nth-child(2n+2) {
        background: #DDD; }
    .country-list ul:nth-child(even) {
      text-align: right; }
      .country-list ul:nth-child(even) li:nth-child(2n+1) {
        background: #CCC; }
      .country-list ul:nth-child(even) li:nth-child(2n+2) {
        background: #DDD; }

.others {
  align-items: center;
  background: #F6F6F6;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .others img {
    height: 37.5px;
    max-width: 50px;
    width: auto; }
  .others div {
    box-sizing: border-box;
    display: flex;
    transition: 0.2s;
    width: auto; }
    .others div span {
      font-size: 11px;
      color: #000;
      text-transform: uppercase;
      padding: 5px 0; }
    .others div a {
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      text-decoration: none;
      margin: 10px;
      width: 100%; }
    .others div:hover {
      background: #DDD; }
    .others div:last-child {
      justify-content: flex-end; }
      .others div:last-child a {
        padding-left: 10px;
        padding-right: 10px; }

img.othersArrow {
  align-self: center;
  height: 100%; }

img.othersFlag {
  padding: 0 5px; }

.footer-column {
  flex: 1;
  flex-direction: column;
  display: flex; }

.footer-last {
  flex-grow: 2;
  align-items: flex-end;
  font-size: 12px;
  color: #fff;
  text-align: right; }
  .footer-last h3 {
    text-align: right; }
  .footer-last p {
    margin: 5px 0; }

/**************************** */
/**************************** */
/****** DESKTOP STYLES ****** */
/**************************** */
/**************************** */
/**************************** */
/**************************** */
/**************************** */
/******** Mobile SASS ******* */
/**************************** */
/**************************** */
/**************************** */
@media (max-width: 1000px) {
  html {
    height: auto; }

  body {
    overflow: auto; }

  h2 {
    font-size: 1.1em; }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }

  .sidebar {
    display: none; }

  .App-intro {
    padding-top: 0; }

  .App-header .copy {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    font-size: 11px;
    min-width: auto; }
    .App-header .copy span {
      margin-top: 3px; }
  .App-header .logo-wrap {
    padding: 0 0 0 5px; }
  .App-header .nav-wrap .inner-header {
    max-width: 100%; }
    .App-header .nav-wrap .inner-header .nav-sidenav img {
      border-top: 0; }
    .App-header .nav-wrap .inner-header .nav-links {
      border-left: 0; }
      .App-header .nav-wrap .inner-header .nav-links ul {
        width: 100%; }
        .App-header .nav-wrap .inner-header .nav-links ul li {
          min-width: 0; }
          .App-header .nav-wrap .inner-header .nav-links ul li:nth-child(3) {
            display: none; }
          .App-header .nav-wrap .inner-header .nav-links ul li:first-child {
            background: #BBB;
            height: 35px; }
            .App-header .nav-wrap .inner-header .nav-links ul li:first-child a:hover {
              background: #BBB; }
          .App-header .nav-wrap .inner-header .nav-links ul li:nth-child(2) {
            height: 35px; }
          .App-header .nav-wrap .inner-header .nav-links ul li:nth-child(1n + 1) {
            border-right: 1px solid #333; }
          .App-header .nav-wrap .inner-header .nav-links ul li:last-child {
            border-bottom: 1px solid #333; }
          .App-header .nav-wrap .inner-header .nav-links ul li:nth-child(-n+2) {
            border-top: 0; }
  .App-header:hover {
    width: 100%;
    max-width: 100%; }
  .App-header ul li a {
    font-size: 11px;
    width: 100%; }
  .App-header li {
    background: #222;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    width: 50%; }
    .App-header li a {
      line-height: 8px;
      padding: 0; }
      .App-header li a:hover {
        background: #222;
        color: #fff; }
    .App-header li:nth-child(-n+2) {
      border-top: 1px solid #333; }

  .inner-header {
    flex-direction: column; }

  .show {
    display: block;
    opacity: 1;
    height: auto;
    visibility: visible; }

  .about {
    line-height: 18px;
    margin: 0; }

  .about:hover {
    background: #222; }

  .none {
    display: none; }

  .title {
    font-size: 12px;
    font-weight: 200; }

  .content-box-links {
    height: 40px;
    line-height: 40px; }

  .open-menu {
    height: 16px; }

  .close-menu {
    height: 16px; }

  .top-nav {
    height: auto;
    flex-direction: row; }
    .top-nav a {
      height: auto;
      font-size: 10px;
      padding: 0;
      width: 100%; }

  .international-news {
    max-height: 200px; }

  .top-banner {
    align-items: center;
    flex-direction: row;
    height: 40px;
    justify-content: center; }

  .top-icon {
    height: 40px;
    width: 100%; }

  .top-flag {
    width: auto;
    display: none;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-left: 1px solid #000; }
    .top-flag img {
      height: 35px;
      width: 50px; }

  .top-leader {
    height: 100%;
    padding: 0;
    max-height: 40px; }

  .top-title {
    width: auto;
    top: auto;
    min-width: auto;
    font-size: 11px;
    height: auto;
    margin: 0 7px;
    padding: 0;
    left: auto;
    line-height: 2em; }

  .data-sheets {
    flex-direction: column; }

  .data-container .data-point {
    padding: 4px 10px;
    margin: 1px 5px;
    max-width: 100%; }
    .data-container .data-point span {
      font-size: 12px; }

  .data-image {
    width: auto; }

  .img-highlight {
    margin: 0 auto;
    padding: 10px 0; }
    .img-highlight .img-highlight-text p {
      font-size: 14px; }

  .img-highlight-image {
    max-height: 188px; }

  .data-pic {
    width: auto; }

  .inner-content {
    width: 100%;
    margin-bottom: 20px; }

  .home-image {
    max-width: 120px;
    margin-bottom: -1px; }

  .inner-datasheets {
    width: auto; }
    .inner-datasheets td {
      padding: 5px 2px;
      font-size: 14px; }

  #schedule {
    flex-direction: column; }

  .inner-maps {
    width: 90%; }

  .inner-schedule {
    font-size: 12px;
    margin: 0 auto 10px;
    width: 100%; }
    .inner-schedule .scheduleHeader {
      margin: 0 auto;
      width: 90%; }
    .inner-schedule .scheduleBox {
      font-size: 11px;
      padding: 0;
      margin: 0 auto;
      width: 90%; }
      .inner-schedule .scheduleBox ul .dayBox .dateBox {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        font-size: 16px;
        margin-left: 5px; }
        .inner-schedule .scheduleBox ul .dayBox .dateBox .monthBox {
          font-size: 11px;
          margin-bottom: 3px; }

  .inner-home {
    padding: 0; }
    .inner-home .home-action {
      margin: 0 auto 20px; }
    .inner-home h1 {
      font-size: 24px; }
    .inner-home img {
      width: 75%; }

  .inner-map {
    margin: 0 auto; }

  .featuredBox .featuredEvents {
    align-items: center; }
    .featuredBox .featuredEvents .featuredDetails {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: 0; }
      .featuredBox .featuredEvents .featuredDetails div {
        max-width: auto;
        flex-direction: row; }
        .featuredBox .featuredEvents .featuredDetails div a {
          margin-top: 0; }
      .featuredBox .featuredEvents .featuredDetails .featuredTitle {
        width: 50%;
        justify-content: flex-start; }
        .featuredBox .featuredEvents .featuredDetails .featuredTitle img {
          padding-bottom: 10px; }
        .featuredBox .featuredEvents .featuredDetails .featuredTitle h3 {
          flex-grow: 0;
          padding: 0;
          margin: 0; }
          .featuredBox .featuredEvents .featuredDetails .featuredTitle h3:last-child {
            padding-bottom: 10px; }
      .featuredBox .featuredEvents .featuredDetails .featuredStats {
        margin-left: 0;
        width: 50%; }
        .featuredBox .featuredEvents .featuredDetails .featuredStats .featured-flag {
          margin-bottom: 0; }
        .featuredBox .featuredEvents .featuredDetails .featuredStats ul {
          flex-direction: row;
          flex-wrap: wrap;
          list-style: none; }
          .featuredBox .featuredEvents .featuredDetails .featuredStats ul li {
            padding: 0;
            width: 100%; }
            .featuredBox .featuredEvents .featuredDetails .featuredStats ul li:nth-child(3n) {
              background: #ECE8DD; }
            .featuredBox .featuredEvents .featuredDetails .featuredStats ul li:nth-child(3n+1) {
              background: #D4D0C6; }
            .featuredBox .featuredEvents .featuredDetails .featuredStats ul li:nth-child(3n+2) {
              background: #dcd9d1; }
      .featuredBox .featuredEvents .featuredDetails ul {
        margin-left: 0; }
    .featuredBox .featuredEvents img {
      width: 132px;
      min-height: auto; }

  .inner-news {
    padding: 0 0 10px; }

  .news h1 {
    font-size: 18px;
    margin: 1em 0 0.5em; }

  .news-open {
    font-size: 13px;
    padding: 7px 0;
    width: 30%; }

  .news-box {
    width: 100%; }

  .news-story {
    align-items: center;
    border: 1px solid #e6e6e6;
    flex-direction: column;
    margin: 3px auto;
    max-width: 400px;
    overflow: hidden;
    padding: 0;
    width: 92%; }

  .news-img-container {
    width: 100%;
    position: relative; }
    .news-img-container::after {
      display: none; }

  .news-info-container {
    background: #f2f2f2;
    margin: 0; }

  .article {
    font-size: 11px;
    height: auto; }

  .article-image {
    height: 50px;
    margin: 0 auto;
    z-index: 1; }

  .article-link {
    border-top: 0;
    margin: 0 auto; }

  .article-author-date {
    padding: 2px 3px;
    display: flex; }

  .article-link-headline {
    padding: 1px 3px;
    min-height: auto; }
    .article-link-headline .headline {
      font-size: 13px; }

  .article-text {
    padding-left: 3px; }

  .content-box-links {
    width: 100%;
    position: relative;
    top: auto; }

  .week {
    width: 90%; }
    .week .week-box:last-child {
      display: none; }

  .inner-week .week-header {
    justify-content: center; }

  .top-split {
    flex-direction: column; }

  .data-country {
    width: auto; }

  .country-data {
    flex-direction: column; }

  .country-list {
    flex-basis: unset; }
    .country-list ul {
      padding: 0 0 0 10px;
      text-align: left; }
      .country-list ul:last-child {
        text-align: right;
        padding: 0 10px 0 0; }
      .country-list ul li {
        font-size: 13px; }

  .maps {
    min-height: 220px;
    width: 100%; }

  img.othersArrow {
    max-width: 15px; }

  .others img {
    height: 25px; }
  .others div {
    max-width: 50%; }
    .others div a {
      padding: 10px 5px; }
    .others div:last-child a {
      padding: 10px 5px; }
    .others div span {
      font-size: 10px;
      padding: 0; }

  .inner-footer {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
    width: 90%; }

  .footer {
    height: auto; }
    .footer a {
      font-size: 13px;
      margin: 1px 0;
      width: auto; }
    .footer .footer-input {
      margin: 0 auto; }
    .footer .footer-column {
      margin: 0 auto; }
    .footer .footer-links {
      flex-direction: row;
      display: flex; }
      .footer .footer-links .footer-middle h3 {
        text-align: right;
        align-self: flex-end; }
      .footer .footer-links .footer-middle a {
        text-align: right; }
    .footer .footer-last {
      text-align: center;
      margin: 20px auto; }
      .footer .footer-last h3 {
        text-align: center;
        width: 100%; }
      .footer .footer-last p {
        text-align: center; } }
/****************** */
/*** Mobile Sass ** */
/****************** */

/*# sourceMappingURL=app.css.map */
